@import 'zdpalette';
@import 'zdfonts';
* {
  box-sizing: border-box;
  font-family: $nokiafont-light; // Default font family
  font-size: 14px;
  margin: 0;
  padding: 0;
}
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: $zina-black-10;
}
.content {
  min-height: 100vh;
  position: relative;
  .the-content {
     padding: 60px 15px 40px 55px;
     .panel#filter-panel {
        box-shadow: none;
        background: none;
        border: none;
        .panel-heading {
          background-image: none;
          background: $zina-black-0;
          &:hover {
            background: $zina-black-10;
          }
        }
        .panel-collapse {
          .panel-body {
            border-top: none;
          }
        }
      }
    .tile-box {
      background-color: #ffffff;
      border-radius: 2px;
      box-shadow: 0 0 5px 0 rgba(92,92,92,0.2);
      margin-bottom: 15px;
      overflow: hidden;
      padding: 20px 25px;
      [class^="col-"] {
        margin-bottom: 10px;
      }
      &.insider {
        box-shadow: none;
        border: 1px solid $zina-black-0;
        padding: 10px;
      }
      .zdbreadcrumb {
        background: none;
        color: $zina-black-30;
        margin-top: -5px;
        padding: 0;
        li, a {
          font-size: 13px;
        }
      }
    }
  }
}
