a.btn {line-height: 22px;}
a.underbutton {display:block; margin-top:15px;}
.btn {
    border: none;
    border-radius: 2px;
    color: white;
    height: 30px;
    line-height: 9px;
    padding: 5px 20px;
    font-size: 13px;
    transition: .3s ease all;
    &.margin {
      margin-right: 10px;
    }
    .fa {
      padding-right: 7px;
    }
    &:focus {
      color: white !important;
    }
    &.btn-info {
      background: $info;
      background-image: none;
      &:hover {
        background: $info-hover;
      }
    }
    &.btn-danger {
      background: $danger;
      background-image: none;
      &:hover {
        background: $danger-hover;
      }
    }
    &.btn-warning {
      background: $warning;
      background-image: none;
      text-shadow: none;
      &:hover {
        background: $warning-hover;
      }
    }
    &.btn-success {
      background: $success;
      background-image: none;
      text-shadow: none;
      &:hover {
        background: $success-hover;
      }
    }
    &.btn-default {
      background: $default;
      background-image: none;
      text-shadow: none;
      &:hover {
        background: $default-hover;
        color: white;
      }
    }
    &.btn-primary {
      background: $primary;
      background-image: none;
      text-shadow: none;
      &:hover {
        background: $primary-hover;
        color: white;
      }
    }
    &.btn-link {
      background: none;
      background-image: none;
      color: $info;
      text-shadow: none;
      &:hover {
        color: $info-hover;
        text-decoration: underline;
      }
    }
    &.disabled {
      background: $unable;
      background-image: none;
      color: $zina-black-20;
      text-shadow: none;
    }
}
