.zd-form {
  border: 1px solid #cacaca;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0px 3px;
  width: 100%;
}

input:not([type="radio"]), .fileuploader-input-caption {
  @extend .zd-form;
  height: 30px;
  font-size: 14px;
  position: relative;
  border-radius: 1px;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #aaaaaa;
     font-style: italic;
    }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #aaaaaa;
    font-style: italic;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #aaaaaa;
    font-style: italic;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #aaaaaa;
    font-style: italic;
  }
}

label {
  margin-bottom: 0;
}

.datepicker-btn {
    color: white;
    background: $default;
    border: none;
    padding: 8px;
    margin-top: 1px;
    position: absolute;
    z-index: 2;
    right: 15px;
    transition: .3s ease all;
    top: 0;
}

textarea {
  @extend .zd-form;
}

select {
  @extend .zd-form;
  height: 30px;
  background-color: #ffffff;
  border-radius: 1px !important;
}

//Fileinput

.fileuploader {
  background: none;
  padding: 0;
}
.fileuploader-input-caption {
  span {
    color: #aaaaaa;
    font-style: italic;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 0;
  }
}
.fileuploader-input-button {
  @extend .btn;
  background: $default;
  background-image: none;
  text-shadow: none;
  &:hover {
    background: $default-hover;
    color: white;
  }
  span {
    line-height: 19px;
    .fa {
      padding-right: 7px;
    }
  }
}
.import-send-btn {
  margin-top: 10px;
  position: relative;
  top: -26px;
}
.fileuploader-item {
  background: $gray-90;
  padding: 10px 15px;
  margin-bottom: 7px;
  &:last-child {
    margin-bottom: 10px;
  }
  .columns {
    padding-left: 10px;
    .column-thumbnail {
      left: 10px;
      top: -2px;
    }
    .column-actions {
      .fileuploader-action {
        width: 15px;
        height: 15px;
        &.fileuploader-action-remove {
          background: $danger;
          border-color: $danger-border;
          &:hover {
            background: $danger-border;
          }
        }
        i::before, i::after {
          content: '';
          background-color: #ffffff;
          height: 7px;
          left: 6px;
          position: absolute;
          top: 3px;
          width: 1.5px;
        }
      }
    }
  }
}
