.zdfooter {
	background-color: $navy-blue-5;
	color: $gray-90;
	height: 30px;
	line-height: 20px;
	margin: 0;
	margin-top: 10px;
	padding: 5px 40px 0;
	position: absolute;
	width: 100%;
	z-index: 110;
	.zdfooter-logo {
		width: 80px;
	}
	ul {
    margin-bottom: 0;
  }
  #about {
  	color: white;
  }
}
