// HEADER STYLES MODULE
.zdheader {
  background-color: $navy-blue-10;
  border: none;
  border-radius: 0;
  height: 50px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  .separator {
    color: white;
    font-family: $nokiafont-ultralight;
    font-size: 30px;
    line-height: 49px;
  }
  .main-title {
    color: white;
    font-family: $nokiafont-ultralight;
    font-size: 34px;
    font-weight: normal;
    line-height: 58px;
    padding-left: 15px;
  }
  .zdheader-logo{
    padding: 5px 15px;
    &:hover, &:focus {
      background-color: initial !important;
    }
  }
  .logo-right {
    display: none;
    margin-left: 40px;
    margin-top: 5px;
    width: 120px;
  }
  .zdsearchbar {
    border: 0;
    box-shadow: none;
    font-weight: 400;
    margin: 4px 12px 0px 10px;
    padding: 10px;
    .fa-search {
      color: $gray-90;
      font-size: 16px;
      line-height: 23px;
    }
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      width: 90%;
      .zdsearchinput {
        background-color: $navy-blue-20;
        border-color: transparent;
        border-radius: 0;
        color: $gray-90;
        font-size: 12px;
        font-style: italic;
        height: 25px;
      }
    }
  }
}