.alert {
  border-radius: 3px;
  color: white !important;
  padding: 10px;
  margin: 0;
  a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
  .fa {
    padding-right: 0.6em;
  }
  .close {
    .fa {
      padding-right: 0 !important;
    }
  }
  &.alert-danger {border-color: $danger-border; background-color: $danger !important;background-image:none !important;box-shadow:none;}
  &.alert-warning {border-color: $warning-border; background-color: $warning !important;background-image:none !important;box-shadow:none;}
  &.alert-success {border-color: $success-border; background-color: $success !important;background-image:none !important;box-shadow:none;}
  &.alert-info {border-color: $info-border; background-color: $info !important;background-image:none !important;box-shadow:none;}
  &.alert-info-inv {margin-bottom:30px; border-color: $zina-black-20; background-color: white !important;background-image:none !important;box-shadow:none; color:$info !important;font-weight: bold;}
  &.alert-default {border-color: $default-border; background-color: $default !important;background-image:none !important;box-shadow:none;}
  &.alert-dismissible {
    padding-right: 35px;
    .fa.fa-times {
      color: black;
      font-size: 13px;
      font-weight: normal;
    }
    &.alert-default {
      .fa.fa-times {
        color: white;
        text-shadow: none;
      }
    }
  }
}
//Callouts
.zd-callout {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #eee;
  border-left-width: 5px;
  overflow: hidden;
  padding: 15px 30px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  code {
    border-radius: 3px;
  }
  &+.zd-callout {
    margin-top: -5px;
  }
  &-default {
    border-left-color: $default;
    h4, a {
      color: $default;
    }
  }
  &-success {
    border-left-color: $success;
    h4, a {
      color: $success;
    }
  }
  &-warning {
    border-left-color: $warning;
    h4, a {
      color: $warning;
    }
  }
  &-danger {
    border-left-color: $danger;
    h4, a {
      color: $danger;
    }
  }
  &-info {
    border-left-color: $info;
    h4, a {
      color: $info;
    }
  }
}
.zd-importer-helper {
  border: 1px solid $zina-black-20;
  border-radius: 3px;
  .header {
    background: $zina-black-70;
    padding: 20px 25px;
    border: $zina-black-20;
    h3 {
      color: white;
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 0 !important;
    }
  }
  .body {
    padding: 20px 25px;
    h4 {
      font-weight: bold;
      font-size: 16.5px;
    }
    ul {
      padding: 0;
      margin-bottom: 20px;
      list-style:none;
      li {
        &:before {
          content: '■';
          padding-right: 10px;   
        }
      }
    }
    em {font-style:normal;}
  }
  &.info {
    .header {background: $info;}
    .body {
      h4, strong, em {color: $info;}
      li:before {color: $info;}
    }
  }
}
//Modal dialogs
.modal-content {
  border-top-width: 5px;
  border-radius: 3px;
  &.default {border-top-color: $default;}
  &.info {border-top-color: $info;}
  &.success {border-top-color: $success;}
  &.warning {border-top-color: $warning;}
  &.danger {border-top-color: $danger;}
  .modal-header {
    border-bottom: none;
    .close {
      font-size: 14px;
    }
  }
.modal-body {
  position: relative;
  padding: 15px 0;
  margin: 0 30px;
  border-top: 1px solid #eeeeee;
}
  .modal-footer {
    border-top: none;
  }
}

.zd-label {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 15px;
  &.blog {
    position: absolute;
    bottom: 50px;
    left: 35px;
  }
  &-success { background: $success;}
  &-warning { background: $warning;}
  &-danger { background: $danger;}
  &-info { background: $info;}
  &-default { background: $default;}
  &:hover {
    color: white;
    text-decoration: none;
    &-success { background: $success-hover;}
    &-warning { background: $warning-hover;}
    &-danger { background: $danger-hover;}
    &-info { background: $info-hover;}
    &-default { background: $default-hover;}
  }
  &.disabled {
    background: $unable;
    background-image: none;
    color: $zina-black-20;
    text-shadow: none;
  }
}