// ZINADoGi Palette - DoGi v2.1 Kame
// As a convention, sufix -0 is lighter than -100

// ZINA Brand Colors
$zina-blue-100:#070932;
$zina-blue-90:#080b3b;
$zina-blue-80:#090c42;
$zina-blue-70:#0a0d4a;
$zina-blue-60:#0b0f52;
$zina-blue-50:#0c1059;
$zina-blue-40:#0e1161;
$zina-blue-30:#0f1369;
$zina-blue-20:#111470;
$zina-blue-10:#121880;

// ZINA Blacks palette
$zina-black-100:#1a1a1a;
$zina-black-90:#2f2f2f;
$zina-black-80:#444444;
$zina-black-70:#595959;
$zina-black-60:#6e6e6e;
$zina-black-50:#838383;
$zina-black-40:#979797;
$zina-black-30:#adadad;
$zina-black-20:#c1c1c1;
$zina-black-10:#ececec;
$zina-black-0:#f3f3f3;

// Add transparencies here, follow the prefix zina- then color, then -trans, and finally trans perecentage
$zina-black-trans-10:rgba(0,0,0,0.1);

// Template main swatches
// Use strictly as described by their suffix. Vars with no suffix are bases.

$danger:#a92c2c;
$danger-border:#993333;
$danger-hover:#992828;

$warning:#e9a828;
$warning-border:#cd9423;
$warning-hover:#da9d25;

$success:#5ea557;
$success-border:#4a8144;
$success-hover:#599b51;

$info:#4675cd;
$info-border:#385ea6;
$info-hover:#3d66b3;

$action:#4675cd;
$action-border:#385ea6;
$action-hover:#3d66b3;

$primary:#070932;
$primary-border:#030419;
$primary-hover:#050623;

$default:#595959;
$default-border:#2f2f2f;
$default-hover:#444444;

$unable: #adadad;
$unable-border: #979797;

.color-danger {
	color: $danger;
	&:hover {
		color: $danger-hover;
	}
}
.color-warning {
	color: $warning;
	&:hover {
		color: $warning-hover;
	}
}
.color-success {
	color: $success;
	&:hover {
		color: $success-hover;
	}
}
.color-info {
	color: $info;
	&:hover {
		color: $info-hover;
	}
}
.color-action {
	color: $action;
	&:hover {
		color: $action-hover;
	}
}
.color-primary {
	color: $primary;
	&:hover {
		color: $primary-hover;
	}
}
.color-default {
	color: $default;
	&:hover {
		color: $default-hover;
	}
}
.color-neutral {
	color: $zina-black-80;
	&:hover {
		color: $zina-black-100;
	}
}