// Defining base palette colors. As a convention, sufixes -100 is lighter than -50 the darkest hue of a tone
// ZINA Standard branding colors
$navy-blue-5: #041624;
$navy-blue-10: #042035;
$navy-blue-20: #093252;
$navy-blue-90: #aac6dc;
// Palette of gray used
$gray-10: #151515;
$gray-20: #333333;
$gray-50: #888888;
$gray-80: #d0d0d0;
$gray-90: #e9e9e9;
$trans-black-11: rgba(0,0,0,.11);

$danger: #dd4b39;
$danger-border: #d73925;
$danger-hover: #d73925;
$warning: #f39c12;
$warning-border: #e08e0b;
$warning-hover: #e08e0b;
$success: #00a65a;
$success-border: #008d4c;
$success-hover: #008d4c;
$info: #00c0ef;
$info-border: #00acd6;
$info-hover: #00acd6;
$default: $navy-blue-10;
$default-border: $navy-blue-5;
$default-hover: $navy-blue-20;
$primary: $navy-blue-10;
$primary-border: $navy-blue-5;
$primary-hover: $navy-blue-20;