// Defining base palette colors. As a convention, sufixes -100 is lighter than -50 the darkest hue of a tone
$navy-blue-5: #041624;
$navy-blue-10: #042035;
$navy-blue-20: #093252;
$navy-blue-90: #aac6dc;
$gray-20: #333333;
$gray-50: #888888;
$gray-80: #d0d0d0;
$gray-90: #e9e9e9;
$trans-black-11: rgba(0,0,0,.11);
$yellow: #ffc107;
$danger: #dd4b39;
$danger-border: #d73925;
$warning: #f39c12;
$warning-border: #e08e0b;
$success: #00a65a;
$success-border: #008d4c;
$info: #00c0ef;
$info-border: #00acd6;
$default: $navy-blue-10;
$default-border: $navy-blue-5;
$basic: #124191;
$danger-hover: #ed5f64;
$warning-hover: #ffd866;
$success-hover: #95b895;
$basic-hover: #576c91;
$default-hover: $navy-blue-20;