.left-sidebar {
  a {
    text-decoration: none !important;
  }
  * {
    font-size: 12.5px;
  }
  background:rgba(7, 9, 50, 0.090);
  height: 100%;
  position: fixed;
  transition: all .175s;
  width: 40px;
  user-select: none;
  z-index: 101;
  .sidebar-branding {
    display: inline-block;
    .logo-left {
      position: absolute;
      display: none;
      left: 10px;
      margin: 0;
      top: 13px;
      width: 110px;
    }
  }
  &.expanded {
    font-family: $nokiafont-regular;
    width: 220px;
    .zdsidebar {
      background-color: white;
      .panel {
        user-select: none;
        .panel-heading {
          border-bottom: 0.5px solid #e8e8e8;
          color: $zina-blue-100;
          height: 40px;
          padding-right:8px;
          text-align: left;
          transition: all .175s ease;
          &:hover{
            background: $zina-black-10;
            .panel-title {
              color: $zina-black-80;
              .caret {
                display: inline-block;
              }
            }
          }
          .panel-title {
            .caret {
              float: right;
              font-size: 15px;
              margin-top: 8px;
              transition: all .175s ease;
              transform: rotate(-90deg);
              &.rotate {
                transform: rotate(0deg);
              }
            }
            .item-title {
              display: none;
              font-family: $nokiafont-regular;
              font-size: 12.5px;
              text-transform: uppercase;
            }
            .item-icon {
              margin-right: 7px;
              width: 20px;
            }
            .item-icon-img {
              margin-right: 12px;
              width: 16px;
            }
          }
        }
        .item-button {
          &[aria-expanded=true] {
            .panel-heading {
              background: $zina-blue-100;
              color: white;
              .panel-title {
                .caret {
                  display: inline-block;
                  transform: rotate(0deg);
                }
              }
              &:hover {
                .panel-title {
                  color: $zina-black-20;
                }
              }
            }
          }
        }
      }
      .panel-body {
        background-color: $zina-black-10;
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        &.level-3 {
          background-color: $zina-black-0;
          li {
            border-bottom: 0.5px solid $zina-black-10;
          }
        }
        li {
          border-left: 3px solid transparent;
          box-sizing: border-box;
          padding: 10px 20px 10px 20px;
          transition: all .15s ease;
          &:hover {
            background-color: rgba(0,0,0,0.11);
            border-left: 3px solid $zina-blue-10;
          }
          a {
            display: block;
            color: $zina-blue-100;
            text-decoration: none;
          }
        }
        a.trigger {
          color: $zina-blue-100;
          .caret {
            display: none;
            float: right;
            font-size: 15px;
            margin-top: 8px;
            transition: all .175s ease;
            transform: rotate(-90deg);
          }
          li {
              padding-right: 8px;
          }
          &:hover {
            .caret {
              display: inline-block;
            }
          }
          &[aria-expanded=true] {
            .caret {
              display: inline-block;
              transform: rotate(0deg);
            }
            li {
              background: $zina-blue-50;
              color: white;
              text-decoration: none;
            }
          }
          &:hover {
            text-decoration: none;
          }
        }
        ul.level-3 {
          li {
            background: $zina-black-0;
            box-sizing: border-box;
            padding: 10px 35px 10px 35px;
            transition: all .15s ease;
            &:hover {
              background-color: rgba(0,0,0,0.11);
            }
          }
        }
      }
        .about {
          background: $zina-blue-100;
          bottom: 0;
          display: block;
          height: 40px;
          left: 0;
          position: absolute;
          right: 0;
          .list-inline {
            color: white;
            margin-top: 10px;
            text-align: center;
          }
        }
      .inner-item-button {
        &[aria-expanded=true] {
          .panel-heading {
            background: $zina-blue-50;
            color: white;
            text-decoration: none;
            .caret {
              display: inline-block;
              transform: rotate(0deg);
            }
          }
          &:hover {
            .panel-heading {
              .panel-title {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .zdsidebar {
    height: 100%;
    overflow: hidden;
    transition: all .175s;
    width: 100%;
    .zdsidebar-inner {
      background: $zina-black-10;
      margin-bottom: 0;
      .panel {
        a {
          .panel-heading {
            &:hover {
              background: rgba(0,0,0,0.22);
            }
          }
        }
      }
    }
    .panel {
      background-color: transparent;
      border: none;
      border-radius: 0 !important;
      box-shadow: none;
      cursor: pointer;
      margin: 0 0 2.5px 0;
      .item-button {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
      .panel-heading {
        background-color: transparent;
        background-image: none;
        border-bottom: 0.5px solid rgba(232,232,232,0);
        border-left: 3px solid transparent;
        border-radius: 0 !important;
        box-sizing: border-box;
        color: $zina-black-80;
        padding: 10px;
        text-align: center;
        transition: all .15s ease;
        &:hover {
          background: $zina-black-20;
          color: $zina-black-80;
          border-left: 3px solid $zina-blue-10;
        }
        &:active, &:focus {
          background: black;
          color: white;
        }
        .panel-title {
          .fa {
            font-size: 16px;
          }
          .caret {
            display: none;
          }
          .item-title {
            display: none;
          }
        }
      }
      .panel-body {
        list-style: none;
      }
    }
  }
  .about {
    display: none;
  }
}

.panel-heading .menuTip {
  background: rgba(4, 32, 53, 0.65);
  color: white;
  display: block;
  font-size: 9.5pt;
  padding: 2px 5px;
  position: absolute;
  transform: translateY(-22px);
  transition: all .3s ease;
  left: 45px;
  opacity: 1;
  white-space: nowrap;
  &.out {
    transition: all .1s ease;
    left: -120px;
    opacity: 0;
  }
  &:before {
    border-right: 10px solid rgba(4, 32, 53, 0.65);
    border-top: 11px solid transparent;
    border-bottom: 10.5px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0px;
    left: -10px;
    width: 0;
  }
}
#toggle-sidemenu-l {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 50px;
    max-height: 50px;
    text-align: center;
    transition: all .25s ease;
    user-select: none;
    width: 40px;
    &.whirl {
      transform: rotate(720deg);
    }
    &:hover {
      transform: scale(1.3);
    }
    &.navbar {
      position: absolute;
      right: 0;
      top: 0;
      &:hover {
        transform: none;
      }
    }
  }