/***********************************
Font-face config
************************************/
@font-face {
  font-family: 'NokiaPureTWebLight';
  src: url("../fonts/NokiaPureTWeb_Lt.eot");
  src: url("../fonts/NokiaPureTWeb_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Lt.woff") format("woff"), url("../fonts/NokiaPureTWeb_Lt.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Lt.svg#NokiaPureTWebLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebRegular';
  src: url("../fonts/NokiaPureTWeb_Rg.eot");
  src: url("../fonts/NokiaPureTWeb_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Rg.woff") format("woff"), url("../fonts/NokiaPureTWeb_Rg.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Rg.svg#NokiaPureTWebRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebBold';
  src: url("../fonts/NokiaPureTWeb_Bd.eot");
  src: url("../fonts/NokiaPureTWeb_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Bd.woff") format("woff"), url("../fonts/NokiaPureTWeb_Bd.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Bd.svg#NokiaPureTWebBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebUltraLight';
  src: url("../fonts/nokiapureheadline_ultralight-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/FontAwesome-webfont.eot");
  src: url("../fonts/FontAwesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "NokiaPureTWebLight";
  font-weight: normal;
  margin-bottom: 10px !important; }
  h1.strong, h2.strong, h3.strong, h4.strong, h5.strong, h6.strong {
    font-weight: bold; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

strong {
  font-family: "NokiaPureTWebBold"; }

p {
  font-size: 13.5px;
  line-height: 20px; }

.tile-title {
  color: #4f4f4f;
  margin-bottom: 10px; }

* {
  box-sizing: border-box;
  font-family: "NokiaPureTWebLight";
  font-size: 14px;
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #e9e9e9; }

.content {
  min-height: 100vh;
  position: relative; }
  .content .the-content {
    padding: 65px 20px 40px 60px; }
    .content .the-content .tile-box {
      background-color: #ffffff;
      border-radius: 2px;
      box-shadow: 0 0 5px 0 rgba(92, 92, 92, 0.2);
      margin-bottom: 15px;
      overflow: hidden;
      padding: 20px 25px; }
      .content .the-content .tile-box [class^="col"] {
        margin-bottom: 10px; }

.alert {
  border-radius: 3px;
  color: white !important;
  padding: 10px;
  margin: 0; }
  .alert .fa {
    padding-right: 0.6em; }
  .alert .close .fa {
    padding-right: 0 !important; }
  .alert.alert-danger {
    border-color: #d73925;
    background-color: #dd4b39 !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-warning {
    border-color: #e08e0b;
    background-color: #f39c12 !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-success {
    border-color: #008d4c;
    background-color: #00a65a !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-info {
    border-color: #00acd6;
    background-color: #00c0ef !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-default {
    border-color: #041624;
    background-color: #042035 !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-dismissible {
    padding-right: 35px; }
    .alert.alert-dismissible .fa.fa-times {
      color: black;
      font-size: 13px;
      font-weight: normal; }
    .alert.alert-dismissible.alert-default .fa.fa-times {
      color: white;
      text-shadow: none; }

.zd-callout {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #eee;
  border-left-width: 5px;
  overflow: hidden;
  padding: 15px 30px; }
  .zd-callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .zd-callout p:last-child {
    margin-bottom: 0; }
  .zd-callout code {
    border-radius: 3px; }
  .zd-callout + .zd-callout {
    margin-top: -5px; }
  .zd-callout-default {
    border-left-color: #042035; }
    .zd-callout-default h4 {
      color: #042035; }
  .zd-callout-success {
    border-left-color: #00a65a; }
    .zd-callout-success h4 {
      color: #00a65a; }
  .zd-callout-warning {
    border-left-color: #f39c12; }
    .zd-callout-warning h4 {
      color: #f39c12; }
  .zd-callout-danger {
    border-left-color: #dd4b39; }
    .zd-callout-danger h4 {
      color: #dd4b39; }
  .zd-callout-info {
    border-left-color: #00c0ef; }
    .zd-callout-info h4 {
      color: #00c0ef; }

.modal-content {
  border-top-width: 5px;
  border-radius: 3px; }
  .modal-content.default {
    border-top-color: #042035; }
  .modal-content.info {
    border-top-color: #00c0ef; }
  .modal-content.success {
    border-top-color: #00a65a; }
  .modal-content.warning {
    border-top-color: #f39c12; }
  .modal-content.danger {
    border-top-color: #dd4b39; }
  .modal-content .modal-header {
    border-bottom: none; }
    .modal-content .modal-header .close {
      font-size: 14px; }
  .modal-content .modal-body {
    position: relative;
    padding: 15px 0;
    margin: 0 30px;
    border-top: 1px solid #eeeeee; }
  .modal-content .modal-footer {
    border-top: none; }

.zdheader {
  background-color: #042035;
  border: none;
  border-radius: 0;
  height: 50px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100; }
  .zdheader .separator {
    color: white;
    font-family: "NokiaPureTWebUltraLight";
    font-size: 30px;
    line-height: 49px; }
  .zdheader .main-title {
    color: white;
    font-family: "NokiaPureTWebUltraLight";
    font-size: 34px;
    font-weight: normal;
    line-height: 58px;
    padding-left: 15px; }
  .zdheader .zdheader-logo {
    padding: 5px 15px; }
    .zdheader .zdheader-logo:hover, .zdheader .zdheader-logo:focus {
      background-color: initial !important; }
  .zdheader .logo-right {
    display: none;
    margin-left: 40px;
    margin-top: 10px;
    width: 150px; }
  .zdheader .zdsearchbar {
    border: 0;
    box-shadow: none;
    font-weight: 400;
    margin: 4px 12px 0px 10px;
    padding: 10px; }
    .zdheader .zdsearchbar .fa-search {
      color: #e9e9e9;
      font-size: 16px;
      line-height: 23px; }
    .zdheader .zdsearchbar .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      width: 90%; }
      .zdheader .zdsearchbar .form-group .zdsearchinput {
        background-color: #093252;
        border-color: transparent;
        border-radius: 0;
        color: #e9e9e9;
        font-size: 12px;
        font-style: italic;
        height: 25px; }

.left-sidebar {
  background: rgba(0, 0, 0, 0.11);
  height: 100%;
  position: fixed;
  transition: all .175s;
  width: 40px;
  user-select: none;
  z-index: 101; }
  .left-sidebar .sidebar-branding {
    display: inline-block; }
    .left-sidebar .sidebar-branding .logo-left {
      position: absolute;
      display: none;
      left: 10px;
      margin: 0;
      top: 15px;
      width: 150px; }
  .left-sidebar.expanded {
    width: 250px; }
    .left-sidebar.expanded .zdsidebar {
      background-color: #042035; }
      .left-sidebar.expanded .zdsidebar .panel {
        user-select: none; }
        .left-sidebar.expanded .zdsidebar .panel .panel-heading {
          text-align: left;
          transition: all .175s ease;
          color: #ebebeb; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading:hover .panel-title {
            color: white; }
            .left-sidebar.expanded .zdsidebar .panel .panel-heading:hover .panel-title .caret {
              display: inline-block; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .caret {
            float: right;
            font-size: 15px;
            margin-top: 8px;
            transition: all .175s ease;
            transform: rotate(-90deg); }
            .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .caret.rotate {
              transform: rotate(0deg); }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-title {
            font-family: "NokiaPureTWebLight";
            display: inline-block; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-icon {
            margin-right: 12px;
            width: 20px; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-icon-img {
            margin-right: 12px;
            width: 16px; }
      .left-sidebar.expanded .zdsidebar .panel-body {
        background-color: #093252;
        list-style: none;
        padding: 0; }
        .left-sidebar.expanded .zdsidebar .panel-body li {
          box-sizing: border-box;
          padding: 14px 20px 14px 60px; }
          .left-sidebar.expanded .zdsidebar .panel-body li:hover {
            background-color: rgba(0, 0, 0, 0.11);
            border-left: 3px solid #f39c12;
            padding-left: 57.5px; }
          .left-sidebar.expanded .zdsidebar .panel-body li a {
            display: block;
            color: white;
            text-decoration: none; }
  .left-sidebar #toggle-sidemenu-l {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 50px;
    max-height: 50px;
    text-align: center;
    transition: all .25s ease;
    user-select: none;
    width: 40px; }
    .left-sidebar #toggle-sidemenu-l.whirl {
      transform: rotate(720deg); }
    .left-sidebar #toggle-sidemenu-l:hover {
      transform: scale(1.3); }
  .left-sidebar .zdsidebar {
    height: 100%;
    overflow: hidden;
    transition: all .175s;
    width: 100%; }
    .left-sidebar .zdsidebar .panel {
      background-color: transparent;
      border: none;
      border-radius: 0 !important;
      box-shadow: none;
      cursor: pointer;
      margin: 0 0 2.5px 0; }
      .left-sidebar .zdsidebar .panel .panel-heading {
        background-color: transparent;
        background-image: none;
        border: none;
        border-radius: 0 !important;
        color: #888888;
        padding: 10px;
        text-align: center;
        transition: all .25s ease; }
        .left-sidebar .zdsidebar .panel .panel-heading:hover {
          background: rgba(0, 0, 0, 0.25);
          color: #333333; }
        .left-sidebar .zdsidebar .panel .panel-heading .panel-title .caret {
          display: none; }
        .left-sidebar .zdsidebar .panel .panel-heading .panel-title .item-title {
          display: none;
          text-transform: uppercase; }
      .left-sidebar .zdsidebar .panel .panel-body {
        list-style: none; }

.panel-heading .menuTip {
  background: rgba(4, 32, 53, 0.65);
  color: white;
  display: block;
  font-size: 9.5pt;
  padding: 2px 5px;
  position: absolute;
  transform: translateY(-22px);
  transition: all .3s ease;
  left: 45px;
  opacity: 1;
  white-space: nowrap; }
  .panel-heading .menuTip.out {
    transition: all .1s ease;
    left: -120px;
    opacity: 0; }
  .panel-heading .menuTip:before {
    border-right: 10px solid rgba(4, 32, 53, 0.65);
    border-top: 11px solid transparent;
    border-bottom: 10.5px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0px;
    left: -10px;
    width: 0; }

.zdfooter {
  background-color: #041624;
  bottom: 0;
  color: #e9e9e9;
  height: 30px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  padding: 5px 40px 0;
  position: absolute;
  width: 100%;
  z-index: 110; }
  .zdfooter .zdfooter-logo {
    width: 80px; }
  .zdfooter ul {
    margin-bottom: 0; }
  .zdfooter #about {
    color: white; }

a.btn, a.fileuploader-input-button {
  line-height: 22px; }

.btn, .fileuploader-input-button {
  border: none;
  border-radius: 2px;
  color: white;
  height: 30px;
  line-height: 9px;
  padding: 5px 20px;
  font-size: 13px;
  transition: .3s ease all; }
  .btn .fa, .fileuploader-input-button .fa {
    padding-right: 7px; }
  .btn:focus, .fileuploader-input-button:focus {
    color: white !important; }
  .btn.btn-info, .btn-info.fileuploader-input-button {
    background: #00c0ef;
    background-image: none; }
    .btn.btn-info:hover, .btn-info.fileuploader-input-button:hover {
      background: #00acd6; }
  .btn.btn-danger, .btn-danger.fileuploader-input-button {
    background: #dd4b39;
    background-image: none; }
    .btn.btn-danger:hover, .btn-danger.fileuploader-input-button:hover {
      background: #d73925; }
  .btn.btn-warning, .btn-warning.fileuploader-input-button {
    background: #f39c12;
    background-image: none;
    text-shadow: none; }
    .btn.btn-warning:hover, .btn-warning.fileuploader-input-button:hover {
      background: #e08e0b; }
  .btn.btn-success, .btn-success.fileuploader-input-button {
    background: #00a65a;
    background-image: none;
    text-shadow: none; }
    .btn.btn-success:hover, .btn-success.fileuploader-input-button:hover {
      background: #008d4c; }
  .btn.btn-default, .btn-default.fileuploader-input-button {
    background: #042035;
    background-image: none;
    text-shadow: none; }
    .btn.btn-default:hover, .btn-default.fileuploader-input-button:hover {
      background: #093252;
      color: white; }
  .btn.btn-primary, .btn-primary.fileuploader-input-button {
    background: #042035;
    background-image: none;
    text-shadow: none; }
    .btn.btn-primary:hover, .btn-primary.fileuploader-input-button:hover {
      background: #093252;
      color: white; }

.zd-form, input:not([type="radio"]), .fileuploader-input-caption, textarea, select {
  border: 1px solid #cacaca;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0px 3px;
  width: 100%; }

input:not([type="radio"]), .fileuploader-input-caption {
  height: 30px;
  font-size: 14px;
  position: relative;
  border-radius: 1px; }
  input:not([type="radio"])::-webkit-input-placeholder, .fileuploader-input-caption::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaaaaa;
    font-style: italic; }
  input:not([type="radio"])::-moz-placeholder, .fileuploader-input-caption::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaaaaa;
    font-style: italic; }
  input:not([type="radio"]):-ms-input-placeholder, .fileuploader-input-caption:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaaaaa;
    font-style: italic; }
  input:not([type="radio"]):-moz-placeholder, .fileuploader-input-caption:-moz-placeholder {
    /* Firefox 18- */
    color: #aaaaaa;
    font-style: italic; }

label {
  margin-bottom: 0; }

.datepicker-btn {
  color: white;
  background: #042035;
  border: none;
  padding: 8px;
  margin-top: 1px;
  position: absolute;
  z-index: 2;
  right: 15px;
  transition: .3s ease all;
  top: 0; }

select {
  height: 30px;
  background-color: #ffffff;
  border-radius: 1px !important; }

.fileuploader {
  background: none;
  padding: 0; }

.fileuploader-input-caption span {
  color: #aaaaaa;
  font-style: italic;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 0; }

.fileuploader-input-button {
  background: #042035;
  background-image: none;
  text-shadow: none; }
  .fileuploader-input-button:hover {
    background: #093252;
    color: white; }
  .fileuploader-input-button span {
    line-height: 19px; }
    .fileuploader-input-button span .fa {
      padding-right: 7px; }

.uploader-helper {
  bottom: 10px;
  position: relative;
  right: 20px;
  cursor: pointer; }
  .uploader-helper #upHelper .modal-dialog {
    width: 500px; }

.import-send-btn {
  margin-top: 10px;
  position: relative;
  top: -26px; }

.fileuploader-item {
  background: #e9e9e9;
  padding: 10px 15px;
  margin-bottom: 7px; }
  .fileuploader-item:last-child {
    margin-bottom: 10px; }
  .fileuploader-item .columns {
    padding-left: 10px; }
    .fileuploader-item .columns .column-thumbnail {
      left: 10px;
      top: -2px; }
    .fileuploader-item .columns .column-actions .fileuploader-action {
      width: 15px;
      height: 15px; }
      .fileuploader-item .columns .column-actions .fileuploader-action.fileuploader-action-remove {
        background: #dd4b39;
        border-color: #d73925; }
        .fileuploader-item .columns .column-actions .fileuploader-action.fileuploader-action-remove:hover {
          background: #d73925; }
      .fileuploader-item .columns .column-actions .fileuploader-action i::before, .fileuploader-item .columns .column-actions .fileuploader-action i::after {
        content: '';
        background-color: #ffffff;
        height: 7px;
        left: 6px;
        position: absolute;
        top: 3px;
        width: 1.5px; }

#login-head {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  height: 55px; }
  #login-head .logo-login {
    top: 50%;
    margin-top: -25px;
    left: 15px;
    position: absolute;
    height: 50px; }

#login-alert.alert {
  height: auto !important;
  padding: 8px; }

#login-body {
  background: url("../img/login-bground.jpg");
  background-size: cover; }

#login-frame {
  background: rgba(39, 49, 66, 0.8);
  color: white;
  font-family: "NokiaPureTWebLight";
  margin-top: 12vh;
  overflow: hidden;
  padding: 75px 50px; }
  #login-frame h1 {
    text-align: center;
    font-size: 4em; }
  #login-frame p {
    text-align: center;
    font-size: 1.35em;
    margin-top: 2em; }

.login-form {
  margin-top: 35px; }
  .login-form .login-input .input-group {
    height: 35px;
    margin-bottom: 20px;
    width: 100%; }
  .login-form #login-button {
    background: #4bdd33;
    color: white;
    font-size: 1.5em;
    height: 35px;
    line-height: 1em;
    width: 100%; }
  .login-form a {
    color: white;
    font-size: 0.8em;
    text-align: center;
    text-decoration: underline; }
    .login-form a:hover {
      color: #2bc1ec; }

/* Constants */
.no-left-padding {
  padding-left: 0 !important; }

.no-right-padding {
  padding-right: 0 !important; }

.alert.alert-dogi {
  border-color: #151515;
  background-color: #333333 !important;
  background-image: none !important;
  box-shadow: none; }
  .alert.alert-dogi.alert-dismissable .fa.fa-times {
    color: white;
    text-shadow: none; }

.zd-callout-dogi {
  background: #888888;
  border-left-color: #333333;
  color: white; }
  .zd-callout-dogi a {
    color: #151515;
    text-decoration: underline; }
    .zd-callout-dogi a:hover {
      color: black; }

code[class*="language-"] *, pre[class*="language-"] * {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-size: 9pt !important; }

span.pre-inline {
  background: #333;
  color: white;
  display: inline-block;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
  font-size: 12px;
  padding: 0 5px; }

/*# sourceMappingURL=zd-style.css.map */
