/***********************************
Font-face config
************************************/
@font-face {
  font-family: 'NokiaPureTWebLight';
  src: url("../fonts/NokiaPureTWeb_Lt.eot");
  src: url("../fonts/NokiaPureTWeb_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Lt.woff") format("woff"), url("../fonts/NokiaPureTWeb_Lt.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Lt.svg#NokiaPureTWebLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebRegular';
  src: url("../fonts/NokiaPureTWeb_Rg.eot");
  src: url("../fonts/NokiaPureTWeb_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Rg.woff") format("woff"), url("../fonts/NokiaPureTWeb_Rg.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Rg.svg#NokiaPureTWebRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebBold';
  src: url("../fonts/NokiaPureTWeb_Bd.eot");
  src: url("../fonts/NokiaPureTWeb_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Bd.woff") format("woff"), url("../fonts/NokiaPureTWeb_Bd.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Bd.svg#NokiaPureTWebBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebUltraLight';
  src: url("../fonts/nokiapureheadline_ultralight-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/FontAwesome-webfont.eot");
  src: url("../fonts/FontAwesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "NokiaPureTWebLight";
  font-weight: normal;
  margin-bottom: 10px !important; }
  h1.strong, h2.strong, h3.strong, h4.strong, h5.strong, h6.strong {
    font-weight: bold; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

strong {
  font-family: "NokiaPureTWebBold"; }

p {
  font-size: 13.5px;
  line-height: 20px; }

.tile-title {
  color: #4f4f4f;
  margin-bottom: 10px; }

* {
  box-sizing: border-box;
  font-family: "NokiaPureTWebLight";
  font-size: 14px;
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #ececec; }

.content {
  min-height: 100vh;
  position: relative; }
  .content .the-content {
    padding: 65px 20px 40px 60px; }
    .content .the-content .tile-box {
      background-color: #ffffff;
      border-radius: 2px;
      box-shadow: 0 0 5px 0 rgba(92, 92, 92, 0.2);
      margin-bottom: 15px;
      overflow: hidden;
      padding: 20px 25px; }
      .content .the-content .tile-box [class^="col"] {
        margin-bottom: 10px; }

.alert {
  border-radius: 3px;
  color: white !important;
  padding: 10px;
  margin: 0; }
  .alert .fa {
    padding-right: 0.6em; }
  .alert .close .fa {
    padding-right: 0 !important; }
  .alert.alert-danger {
    border-color: #993333;
    background-color: #a92c2c !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-warning {
    border-color: #cd9423;
    background-color: #e9a828 !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-success {
    border-color: #4a8144;
    background-color: #5ea557 !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-info {
    border-color: #385ea6;
    background-color: #4675cd !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-default {
    border-color: #030419;
    background-color: #070932 !important;
    background-image: none !important;
    box-shadow: none; }
  .alert.alert-dismissible {
    padding-right: 35px; }
    .alert.alert-dismissible .fa.fa-times {
      color: black;
      font-size: 13px;
      font-weight: normal; }
    .alert.alert-dismissible.alert-default .fa.fa-times {
      color: white;
      text-shadow: none; }

.zd-callout {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #eee;
  border-left-width: 5px;
  overflow: hidden;
  padding: 15px 30px; }
  .zd-callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .zd-callout p:last-child {
    margin-bottom: 0; }
  .zd-callout code {
    border-radius: 3px; }
  .zd-callout + .zd-callout {
    margin-top: -5px; }
  .zd-callout-default {
    border-left-color: #070932; }
    .zd-callout-default h4, .zd-callout-default a {
      color: #070932; }
  .zd-callout-success {
    border-left-color: #5ea557; }
    .zd-callout-success h4, .zd-callout-success a {
      color: #5ea557; }
  .zd-callout-warning {
    border-left-color: #e9a828; }
    .zd-callout-warning h4, .zd-callout-warning a {
      color: #e9a828; }
  .zd-callout-danger {
    border-left-color: #a92c2c; }
    .zd-callout-danger h4, .zd-callout-danger a {
      color: #a92c2c; }
  .zd-callout-info {
    border-left-color: #4675cd; }
    .zd-callout-info h4, .zd-callout-info a {
      color: #4675cd; }

.modal-content {
  border-top-width: 5px;
  border-radius: 3px; }
  .modal-content.default {
    border-top-color: #070932; }
  .modal-content.info {
    border-top-color: #4675cd; }
  .modal-content.success {
    border-top-color: #5ea557; }
  .modal-content.warning {
    border-top-color: #e9a828; }
  .modal-content.danger {
    border-top-color: #a92c2c; }
  .modal-content .modal-header {
    border-bottom: none; }
    .modal-content .modal-header .close {
      font-size: 14px; }
  .modal-content .modal-body {
    position: relative;
    padding: 15px 0;
    margin: 0 30px;
    border-top: 1px solid #eeeeee; }
  .modal-content .modal-footer {
    border-top: none; }

.zd-label {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 8px; }
  .zd-label.blog {
    position: absolute;
    bottom: 50px;
    left: 35px; }
  .zd-label-success {
    background: #5ea557; }
  .zd-label-warning {
    background: #e9a828; }
  .zd-label-danger {
    background: #a92c2c; }
  .zd-label-info {
    background: #4675cd; }
  .zd-label-default {
    background: #070932; }

.zdheader {
  background-color: #070932;
  border: none;
  border-radius: 0;
  height: 50px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100; }
  .zdheader .separator {
    color: white;
    font-family: "NokiaPureTWebUltraLight";
    font-size: 30px;
    line-height: 49px; }
  .zdheader .main-title {
    color: white;
    font-family: "NokiaPureTWebUltraLight";
    font-size: 34px;
    font-weight: normal;
    line-height: 58px;
    padding-left: 15px; }
  .zdheader .zdheader-logo {
    padding: 5px 15px; }
    .zdheader .zdheader-logo:hover, .zdheader .zdheader-logo:focus {
      background-color: initial !important; }
  .zdheader .logo-right {
    display: none;
    margin-left: 40px;
    margin-top: 10px;
    width: 150px; }

.left-sidebar {
  background: rgba(7, 9, 50, 0.09);
  height: 100%;
  position: fixed;
  transition: all .175s;
  width: 40px;
  user-select: none;
  z-index: 101; }
  .left-sidebar a {
    text-decoration: none !important; }
  .left-sidebar * {
    font-size: 12.5px; }
  .left-sidebar .sidebar-branding {
    display: inline-block; }
    .left-sidebar .sidebar-branding .logo-left {
      position: absolute;
      display: none;
      left: 10px;
      margin: 0;
      top: 15px;
      width: 150px; }
  .left-sidebar.expanded {
    font-family: "NokiaPureTWebRegular";
    width: 220px; }
    .left-sidebar.expanded .zdsidebar {
      background-color: white; }
      .left-sidebar.expanded .zdsidebar .panel {
        user-select: none; }
        .left-sidebar.expanded .zdsidebar .panel .panel-heading {
          border-bottom: 0.5px solid #e8e8e8;
          color: #070932;
          height: 40px;
          padding-right: 8px;
          text-align: left;
          transition: all .175s ease; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading:hover {
            background: #ececec; }
            .left-sidebar.expanded .zdsidebar .panel .panel-heading:hover .panel-title {
              color: #444444; }
              .left-sidebar.expanded .zdsidebar .panel .panel-heading:hover .panel-title .caret {
                display: inline-block; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .caret {
            float: right;
            font-size: 15px;
            margin-top: 8px;
            transition: all .175s ease;
            transform: rotate(-90deg); }
            .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .caret.rotate {
              transform: rotate(0deg); }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-title {
            display: none;
            font-family: "NokiaPureTWebRegular";
            font-size: 12.5px;
            text-transform: uppercase; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-icon {
            margin-right: 7px;
            width: 20px; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-icon-img {
            margin-right: 12px;
            width: 16px; }
        .left-sidebar.expanded .zdsidebar .panel .item-button[aria-expanded=true] .panel-heading {
          background: #070932;
          color: white; }
          .left-sidebar.expanded .zdsidebar .panel .item-button[aria-expanded=true] .panel-heading .panel-title .caret {
            display: inline-block;
            transform: rotate(0deg); }
          .left-sidebar.expanded .zdsidebar .panel .item-button[aria-expanded=true] .panel-heading:hover .panel-title {
            color: #adadad; }
      .left-sidebar.expanded .zdsidebar .panel-body {
        background-color: #ececec;
        list-style: none;
        margin-bottom: 0;
        padding: 0; }
        .left-sidebar.expanded .zdsidebar .panel-body li {
          border-left: 3px solid transparent;
          box-sizing: border-box;
          padding: 10px 20px 10px 20px;
          transition: all .15s ease; }
          .left-sidebar.expanded .zdsidebar .panel-body li:hover {
            background-color: rgba(0, 0, 0, 0.11);
            border-left: 3px solid #121880; }
          .left-sidebar.expanded .zdsidebar .panel-body li a {
            display: block;
            color: #070932;
            text-decoration: none; }
        .left-sidebar.expanded .zdsidebar .panel-body a.trigger {
          color: #070932; }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger .caret {
            display: none;
            float: right;
            font-size: 15px;
            margin-top: 8px;
            transition: all .175s ease;
            transform: rotate(-90deg); }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger li {
            padding-right: 8px; }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger:hover .caret {
            display: inline-block; }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger[aria-expanded=true] .caret {
            display: inline-block;
            transform: rotate(0deg); }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger[aria-expanded=true] li {
            background: #0c1059;
            color: white;
            text-decoration: none; }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger:hover {
            text-decoration: none; }
        .left-sidebar.expanded .zdsidebar .panel-body ul.level-3 li {
          background: #f3f3f3;
          box-sizing: border-box;
          padding: 10px 35px 10px 35px;
          transition: all .15s ease; }
          .left-sidebar.expanded .zdsidebar .panel-body ul.level-3 li:hover {
            background-color: rgba(0, 0, 0, 0.11); }
      .left-sidebar.expanded .zdsidebar .about {
        background: #070932;
        bottom: 0;
        display: block;
        height: 40px;
        left: 0;
        position: absolute;
        right: 0; }
        .left-sidebar.expanded .zdsidebar .about .list-inline {
          color: white;
          margin-top: 10px;
          text-align: center; }
      .left-sidebar.expanded .zdsidebar .inner-item-button[aria-expanded=true] .panel-heading {
        background: #0c1059;
        color: white;
        text-decoration: none; }
        .left-sidebar.expanded .zdsidebar .inner-item-button[aria-expanded=true] .panel-heading .caret {
          display: inline-block;
          transform: rotate(0deg); }
      .left-sidebar.expanded .zdsidebar .inner-item-button[aria-expanded=true]:hover .panel-heading .panel-title {
        color: white; }
  .left-sidebar #toggle-sidemenu-l {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 50px;
    max-height: 50px;
    text-align: center;
    transition: all .25s ease;
    user-select: none;
    width: 40px; }
    .left-sidebar #toggle-sidemenu-l.whirl {
      transform: rotate(720deg); }
    .left-sidebar #toggle-sidemenu-l:hover {
      transform: scale(1.3); }
  .left-sidebar .zdsidebar {
    height: 100%;
    overflow: hidden;
    transition: all .175s;
    width: 100%; }
    .left-sidebar .zdsidebar .zdsidebar-inner {
      margin-bottom: 0; }
    .left-sidebar .zdsidebar .panel {
      background-color: transparent;
      border: none;
      border-radius: 0 !important;
      box-shadow: none;
      cursor: pointer;
      margin: 0 0 2.5px 0; }
      .left-sidebar .zdsidebar .panel .item-button {
        text-decoration: none; }
        .left-sidebar .zdsidebar .panel .item-button:hover {
          text-decoration: none; }
      .left-sidebar .zdsidebar .panel .panel-heading {
        background-color: transparent;
        background-image: none;
        border-bottom: 0.5px solid rgba(232, 232, 232, 0);
        border-left: 3px solid transparent;
        border-radius: 0 !important;
        box-sizing: border-box;
        color: #444444;
        padding: 10px;
        text-align: center;
        transition: all .15s ease; }
        .left-sidebar .zdsidebar .panel .panel-heading:hover {
          background: #adadad;
          color: #444444;
          border-left: 3px solid #121880; }
        .left-sidebar .zdsidebar .panel .panel-heading:active, .left-sidebar .zdsidebar .panel .panel-heading:focus {
          background: black;
          color: white; }
        .left-sidebar .zdsidebar .panel .panel-heading .panel-title .fa {
          font-size: 16px; }
        .left-sidebar .zdsidebar .panel .panel-heading .panel-title .caret {
          display: none; }
        .left-sidebar .zdsidebar .panel .panel-heading .panel-title .item-title {
          display: none; }
      .left-sidebar .zdsidebar .panel .panel-body {
        list-style: none; }
  .left-sidebar .about {
    display: none; }

.panel-heading .menuTip {
  background: rgba(4, 32, 53, 0.65);
  color: white;
  display: block;
  font-size: 9.5pt;
  padding: 2px 5px;
  position: absolute;
  transform: translateY(-22px);
  transition: all .3s ease;
  left: 45px;
  opacity: 1;
  white-space: nowrap; }
  .panel-heading .menuTip.out {
    transition: all .1s ease;
    left: -120px;
    opacity: 0; }
  .panel-heading .menuTip:before {
    border-right: 10px solid rgba(4, 32, 53, 0.65);
    border-top: 11px solid transparent;
    border-bottom: 10.5px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0px;
    left: -10px;
    width: 0; }

/*# sourceMappingURL=zd-style.css.map */
