@charset "UTF-8";
.color-danger {
  color: #a92c2c; }
  .color-danger:hover {
    color: #992828; }

.color-warning {
  color: #e9a828; }
  .color-warning:hover {
    color: #da9d25; }

.color-success {
  color: #5ea557; }
  .color-success:hover {
    color: #599b51; }

.color-info {
  color: #4675cd; }
  .color-info:hover {
    color: #3d66b3; }

.color-action {
  color: #4675cd; }
  .color-action:hover {
    color: #3d66b3; }

.color-primary {
  color: #070932; }
  .color-primary:hover {
    color: #050623; }

.color-default {
  color: #595959; }
  .color-default:hover {
    color: #444444; }

.color-neutral {
  color: #444444; }
  .color-neutral:hover {
    color: #1a1a1a; }

/***********************************
Font-face config
************************************/
@font-face {
  font-family: 'NokiaPureTWebLight';
  src: url("../fonts/NokiaPureTWeb_Lt.eot");
  src: url("../fonts/NokiaPureTWeb_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Lt.woff") format("woff"), url("../fonts/NokiaPureTWeb_Lt.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Lt.svg#NokiaPureTWebLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebRegular';
  src: url("../fonts/NokiaPureTWeb_Rg.eot");
  src: url("../fonts/NokiaPureTWeb_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Rg.woff") format("woff"), url("../fonts/NokiaPureTWeb_Rg.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Rg.svg#NokiaPureTWebRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebBold';
  src: url("../fonts/NokiaPureTWeb_Bd.eot");
  src: url("../fonts/NokiaPureTWeb_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Bd.woff") format("woff"), url("../fonts/NokiaPureTWeb_Bd.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Bd.svg#NokiaPureTWebBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NokiaPureTWebUltraLight';
  src: url("../fonts/nokiapureheadline_ultralight-webfont.woff2") format("woff2"), url("../fonts/nokiapureheadline_ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/FontAwesome-webfont.eot");
  src: url("../fonts/FontAwesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "NokiaPureTWebLight";
  font-weight: normal;
  margin-bottom: 10px !important; }
  h1.strong, h2.strong, h3.strong, h4.strong, h5.strong, h6.strong {
    font-weight: bold; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

strong {
  font-family: "NokiaPureTWebBold"; }

p {
  font-size: 13.5px;
  line-height: 20px; }

.tile-title {
  color: #4f4f4f;
  margin-bottom: 10px; }

a {
  color: #4675cd; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "NokiaPureTWebLight";
  font-size: 14px;
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #ececec; }

.content {
  min-height: 100vh;
  position: relative; }
  .content .the-content {
    padding: 60px 15px 40px 55px; }
    .content .the-content .panel#filter-panel {
      -webkit-box-shadow: none;
              box-shadow: none;
      background: none;
      border: none; }
      .content .the-content .panel#filter-panel .panel-heading {
        background-image: none;
        background: #f3f3f3; }
        .content .the-content .panel#filter-panel .panel-heading:hover {
          background: #ececec; }
      .content .the-content .panel#filter-panel .panel-collapse .panel-body {
        border-top: none; }
    .content .the-content .tile-box {
      background-color: #ffffff;
      border-radius: 2px;
      -webkit-box-shadow: 0 0 5px 0 rgba(92, 92, 92, 0.2);
              box-shadow: 0 0 5px 0 rgba(92, 92, 92, 0.2);
      margin-bottom: 15px;
      overflow: hidden;
      padding: 20px 25px; }
      .content .the-content .tile-box [class^="col"] {
        margin-bottom: 10px; }
      .content .the-content .tile-box.insider {
        -webkit-box-shadow: none;
                box-shadow: none;
        border: 1px solid #f3f3f3;
        padding: 10px; }
      .content .the-content .tile-box .zdbreadcrumb {
        background: none;
        color: #adadad;
        margin-top: -5px;
        padding: 0; }
        .content .the-content .tile-box .zdbreadcrumb li, .content .the-content .tile-box .zdbreadcrumb a {
          font-size: 13px; }

.alert {
  border-radius: 3px;
  color: white !important;
  padding: 10px;
  margin: 0; }
  .alert .fa {
    padding-right: 0.6em; }
  .alert .close .fa {
    padding-right: 0 !important; }
  .alert.alert-danger {
    border-color: #993333;
    background-color: #a92c2c !important;
    background-image: none !important;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .alert.alert-warning {
    border-color: #cd9423;
    background-color: #e9a828 !important;
    background-image: none !important;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .alert.alert-success {
    border-color: #4a8144;
    background-color: #5ea557 !important;
    background-image: none !important;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .alert.alert-info {
    border-color: #385ea6;
    background-color: #4675cd !important;
    background-image: none !important;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .alert.alert-default {
    border-color: #2f2f2f;
    background-color: #595959 !important;
    background-image: none !important;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .alert.alert-dismissible {
    padding-right: 35px; }
    .alert.alert-dismissible .fa.fa-times {
      color: black;
      font-size: 13px;
      font-weight: normal; }
    .alert.alert-dismissible.alert-default .fa.fa-times {
      color: white;
      text-shadow: none; }

.zd-callout {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #eee;
  border-left-width: 5px;
  overflow: hidden;
  padding: 15px 30px; }
  .zd-callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .zd-callout p:last-child {
    margin-bottom: 0; }
  .zd-callout code {
    border-radius: 3px; }
  .zd-callout + .zd-callout {
    margin-top: -5px; }
  .zd-callout-default {
    border-left-color: #595959; }
    .zd-callout-default h4, .zd-callout-default a {
      color: #595959; }
  .zd-callout-success {
    border-left-color: #5ea557; }
    .zd-callout-success h4, .zd-callout-success a {
      color: #5ea557; }
  .zd-callout-warning {
    border-left-color: #e9a828; }
    .zd-callout-warning h4, .zd-callout-warning a {
      color: #e9a828; }
  .zd-callout-danger {
    border-left-color: #a92c2c; }
    .zd-callout-danger h4, .zd-callout-danger a {
      color: #a92c2c; }
  .zd-callout-info {
    border-left-color: #4675cd; }
    .zd-callout-info h4, .zd-callout-info a {
      color: #4675cd; }

.modal-content {
  border-top-width: 5px;
  border-radius: 3px; }
  .modal-content.default {
    border-top-color: #595959; }
  .modal-content.info {
    border-top-color: #4675cd; }
  .modal-content.success {
    border-top-color: #5ea557; }
  .modal-content.warning {
    border-top-color: #e9a828; }
  .modal-content.danger {
    border-top-color: #a92c2c; }
  .modal-content .modal-header {
    border-bottom: none; }
    .modal-content .modal-header .close {
      font-size: 14px; }
  .modal-content .modal-body {
    position: relative;
    padding: 15px 0;
    margin: 0 30px;
    border-top: 1px solid #eeeeee; }
  .modal-content .modal-footer {
    border-top: none; }

.zd-label {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 15px; }
  .zd-label.blog {
    position: absolute;
    bottom: 50px;
    left: 35px; }
  .zd-label-success {
    background: #5ea557; }
  .zd-label-warning {
    background: #e9a828; }
  .zd-label-danger {
    background: #a92c2c; }
  .zd-label-info {
    background: #4675cd; }
  .zd-label-default {
    background: #595959; }
  .zd-label:hover {
    color: white;
    text-decoration: none; }
    .zd-label:hover-success {
      background: #599b51; }
    .zd-label:hover-warning {
      background: #da9d25; }
    .zd-label:hover-danger {
      background: #992828; }
    .zd-label:hover-info {
      background: #3d66b3; }
    .zd-label:hover-default {
      background: #444444; }
  .zd-label.disabled {
    background: #adadad;
    background-image: none;
    color: #c1c1c1;
    text-shadow: none; }

.zdheader {
  background-color: #070932;
  border: none;
  border-radius: 0;
  height: 50px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100; }
  .zdheader .separator {
    color: white;
    font-family: "NokiaPureTWebUltraLight";
    font-size: 30px;
    line-height: 49px; }
  .zdheader .main-title {
    color: white;
    font-family: "NokiaPureTWebUltraLight";
    font-size: 34px;
    font-weight: normal;
    line-height: 58px;
    padding-left: 15px; }
  .zdheader .zdheader-logo {
    padding: 5px 15px; }
    .zdheader .zdheader-logo:hover, .zdheader .zdheader-logo:focus {
      background-color: initial !important; }
  .zdheader .logo-right {
    display: none;
    margin-left: 25px;
    margin-top: 8px;
    width: 110px; }
  .zdheader .zdsearchbar {
    padding-top: 5px;
    height: 45px;
    background: #0a0d4a;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .zdheader .zdsearchbar {
        background: none; } }
    .zdheader .zdsearchbar #global-search {
      margin-top: 3px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .zdheader .zdsearchbar #global-search {
          margin-top: 5px;
          text-align: right; } }
      .zdheader .zdsearchbar #global-search .btn-filtre {
        display: inline-block;
        position: relative;
        top: -10px; }
      .zdheader .zdsearchbar #global-search .input-wrapper {
        position: relative;
        display: inline-block;
        vertical-align: bottom; }
      .zdheader .zdsearchbar #global-search #search-input {
        display: inline-block;
        height: 30px;
        width: 60vw; }
        @media screen and (min-width: 768px) {
          .zdheader .zdsearchbar #global-search #search-input {
            width: 325px; } }
      .zdheader .zdsearchbar #global-search .dropdown-menu {
        min-width: 45vw;
        max-width: 83vw;
        padding-top: 10px; }
        @media screen and (min-width: 768px) {
          .zdheader .zdsearchbar #global-search .dropdown-menu {
            width: 475px;
            min-width: initial;
            max-width: initial; } }
        .zdheader .zdsearchbar #global-search .dropdown-menu .search_option {
          height: 40px;
          display: block; }
          .zdheader .zdsearchbar #global-search .dropdown-menu .search_option a {
            height: inherit;
            display: block; }
      .zdheader .zdsearchbar #global-search .go {
        background: #4675cd;
        border: none;
        color: white;
        font-family: "NokiaPureTWebLight";
        height: 29.75px;
        opacity: 0;
        padding: 0 5px;
        position: absolute;
        right: 0px;
        text-transform: uppercase;
        top: 0.25px;
        -webkit-transform-origin: right center;
                transform-origin: right center;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: all .15s ease-in;
        transition: all .15s ease-in; }
        .zdheader .zdsearchbar #global-search .go span {
          display: inline-block;
          -webkit-transform: scale(0.85, 1);
          transform: scale(0.85, 1); }
        .zdheader .zdsearchbar #global-search .go:hover {
          background: #ffa95c;
          color: #000000; }
        .zdheader .zdsearchbar #global-search .go.active {
          opacity: 1;
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: right center;
                  transform-origin: right center; }
  .zdheader #wide, .zdheader #mobile {
    display: none; }
  @media screen and (min-width: 768px) {
    .zdheader #wide {
      display: inline-block; } }
  @media screen and (max-width: 767px) {
    .zdheader #mobile {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0; } }
  .zdheader .zd-icons-container {
    display: block;
    height: 50px;
    padding: 15px; }
    .zdheader .zd-icons-container .fa {
      color: white;
      font-size: 17px; }
      .zdheader .zd-icons-container .fa:first-child {
        margin-right: 15px; }

.left-sidebar {
  background: rgba(7, 9, 50, 0.09);
  height: 100%;
  position: fixed;
  -webkit-transition: all .175s;
  transition: all .175s;
  width: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 101; }
  .left-sidebar a {
    text-decoration: none !important; }
  .left-sidebar * {
    font-size: 12.5px; }
  .left-sidebar .sidebar-branding {
    display: inline-block; }
    .left-sidebar .sidebar-branding .logo-left {
      position: absolute;
      display: none;
      left: 10px;
      margin: 0;
      top: 13px;
      width: 110px; }
  .left-sidebar.expanded {
    font-family: "NokiaPureTWebRegular";
    width: 220px; }
    .left-sidebar.expanded .zdsidebar {
      background-color: white; }
      .left-sidebar.expanded .zdsidebar .panel {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
        .left-sidebar.expanded .zdsidebar .panel .panel-heading {
          border-bottom: 0.5px solid #e8e8e8;
          color: #070932;
          height: 40px;
          padding-right: 8px;
          text-align: left;
          -webkit-transition: all .175s ease;
          transition: all .175s ease; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading:hover {
            background: #ececec; }
            .left-sidebar.expanded .zdsidebar .panel .panel-heading:hover .panel-title {
              color: #444444; }
              .left-sidebar.expanded .zdsidebar .panel .panel-heading:hover .panel-title .caret {
                display: inline-block; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .caret {
            float: right;
            font-size: 15px;
            margin-top: 8px;
            -webkit-transition: all .175s ease;
            transition: all .175s ease;
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg); }
            .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .caret.rotate {
              -webkit-transform: rotate(0deg);
                      transform: rotate(0deg); }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-title {
            display: none;
            font-family: "NokiaPureTWebRegular";
            font-size: 12.5px;
            text-transform: uppercase; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-icon {
            margin-right: 7px;
            width: 20px; }
          .left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title .item-icon-img {
            margin-right: 12px;
            width: 16px; }
        .left-sidebar.expanded .zdsidebar .panel .item-button[aria-expanded=true] .panel-heading {
          background: #070932;
          color: white; }
          .left-sidebar.expanded .zdsidebar .panel .item-button[aria-expanded=true] .panel-heading .panel-title .caret {
            display: inline-block;
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg); }
          .left-sidebar.expanded .zdsidebar .panel .item-button[aria-expanded=true] .panel-heading:hover .panel-title {
            color: #c1c1c1; }
      .left-sidebar.expanded .zdsidebar .panel-body {
        background-color: #ececec;
        list-style: none;
        margin-bottom: 0;
        padding: 0; }
        .left-sidebar.expanded .zdsidebar .panel-body.level-3 {
          background-color: #f3f3f3; }
          .left-sidebar.expanded .zdsidebar .panel-body.level-3 li {
            border-bottom: 0.5px solid #ececec; }
        .left-sidebar.expanded .zdsidebar .panel-body li {
          border-left: 3px solid transparent;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px 20px 10px 20px;
          -webkit-transition: all .15s ease;
          transition: all .15s ease; }
          .left-sidebar.expanded .zdsidebar .panel-body li:hover {
            background-color: rgba(0, 0, 0, 0.11);
            border-left: 3px solid #121880; }
          .left-sidebar.expanded .zdsidebar .panel-body li a {
            display: block;
            color: #070932;
            text-decoration: none; }
        .left-sidebar.expanded .zdsidebar .panel-body a.trigger {
          color: #070932; }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger .caret {
            display: none;
            float: right;
            font-size: 15px;
            margin-top: 8px;
            -webkit-transition: all .175s ease;
            transition: all .175s ease;
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg); }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger li {
            padding-right: 8px; }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger:hover .caret {
            display: inline-block; }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger[aria-expanded=true] .caret {
            display: inline-block;
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg); }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger[aria-expanded=true] li {
            background: #0c1059;
            color: white;
            text-decoration: none; }
          .left-sidebar.expanded .zdsidebar .panel-body a.trigger:hover {
            text-decoration: none; }
        .left-sidebar.expanded .zdsidebar .panel-body ul.level-3 li {
          background: #f3f3f3;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px 35px 10px 35px;
          -webkit-transition: all .15s ease;
          transition: all .15s ease; }
          .left-sidebar.expanded .zdsidebar .panel-body ul.level-3 li:hover {
            background-color: rgba(0, 0, 0, 0.11); }
      .left-sidebar.expanded .zdsidebar .about {
        background: #070932;
        bottom: 0;
        display: block;
        height: 40px;
        left: 0;
        position: absolute;
        right: 0; }
        .left-sidebar.expanded .zdsidebar .about .list-inline {
          color: white;
          margin-top: 10px;
          text-align: center; }
          .left-sidebar.expanded .zdsidebar .about .list-inline figure {
            width: 80px;
            overflow: hidden; }
            .left-sidebar.expanded .zdsidebar .about .list-inline figure img {
              vertical-align: bottom;
              width: 100%; }
          .left-sidebar.expanded .zdsidebar .about .list-inline #cr {
            vertical-align: text-bottom; }
      .left-sidebar.expanded .zdsidebar .inner-item-button[aria-expanded=true] .panel-heading {
        background: #0c1059;
        color: white;
        text-decoration: none; }
        .left-sidebar.expanded .zdsidebar .inner-item-button[aria-expanded=true] .panel-heading .caret {
          display: inline-block;
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg); }
      .left-sidebar.expanded .zdsidebar .inner-item-button[aria-expanded=true]:hover .panel-heading .panel-title {
        color: white; }
  .left-sidebar .zdsidebar {
    height: 100%;
    overflow: hidden;
    -webkit-transition: all .175s;
    transition: all .175s;
    width: 100%; }
    .left-sidebar .zdsidebar .zdsidebar-inner {
      background: #ececec;
      margin-bottom: 0; }
      .left-sidebar .zdsidebar .zdsidebar-inner .panel a .panel-heading:hover {
        background: rgba(0, 0, 0, 0.22); }
    .left-sidebar .zdsidebar .panel {
      background-color: transparent;
      border: none;
      border-radius: 0 !important;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer;
      margin: 0 0 2.5px 0; }
      .left-sidebar .zdsidebar .panel .item-button {
        text-decoration: none; }
        .left-sidebar .zdsidebar .panel .item-button:hover {
          text-decoration: none; }
      .left-sidebar .zdsidebar .panel .panel-heading {
        background-color: transparent;
        background-image: none;
        border-bottom: 0.5px solid rgba(232, 232, 232, 0);
        border-left: 3px solid transparent;
        border-radius: 0 !important;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color: #444444;
        padding: 10px;
        text-align: center;
        -webkit-transition: all .15s ease;
        transition: all .15s ease; }
        .left-sidebar .zdsidebar .panel .panel-heading:hover {
          background: #c1c1c1;
          color: #444444;
          border-left: 3px solid #121880; }
        .left-sidebar .zdsidebar .panel .panel-heading:active, .left-sidebar .zdsidebar .panel .panel-heading:focus {
          background: black;
          color: white; }
        .left-sidebar .zdsidebar .panel .panel-heading .panel-title .fa {
          font-size: 16px; }
        .left-sidebar .zdsidebar .panel .panel-heading .panel-title .caret {
          display: none; }
        .left-sidebar .zdsidebar .panel .panel-heading .panel-title .item-title {
          display: none; }
      .left-sidebar .zdsidebar .panel .panel-body {
        list-style: none; }
  .left-sidebar .about {
    display: none; }

.panel-heading .menuTip {
  background: rgba(4, 32, 53, 0.65);
  color: white;
  display: block;
  font-size: 9.5pt;
  padding: 2px 5px;
  position: absolute;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  left: 45px;
  opacity: 1;
  white-space: nowrap; }
  .panel-heading .menuTip.out {
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    left: -120px;
    opacity: 0; }
  .panel-heading .menuTip:before {
    border-right: 10px solid rgba(4, 32, 53, 0.65);
    border-top: 11px solid transparent;
    border-bottom: 10.5px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0px;
    left: -10px;
    width: 0; }

#toggle-sidemenu-l {
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 16px;
  line-height: 50px;
  max-height: 50px;
  text-align: center;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px; }
  #toggle-sidemenu-l.whirl {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); }
  #toggle-sidemenu-l:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  #toggle-sidemenu-l.navbar {
    position: absolute;
    right: 0;
    top: 0; }
    #toggle-sidemenu-l.navbar:hover {
      -webkit-transform: none;
              transform: none; }

@media screen and (max-width: 767px) {
  .content .the-content {
    padding: 110px 15px 40px 15px; }

  .zdheader .logo-right {
    margin-top: 0; }

  aside.left-sidebar {
    width: 0%; }
    aside.left-sidebar.expanded {
      width: 100%; }
      aside.left-sidebar.expanded .zdsidebar .panel .panel-heading {
        height: 50px; }
        aside.left-sidebar.expanded .zdsidebar .panel .panel-heading .panel-title {
          margin-top: 5px; }
      aside.left-sidebar.expanded #toggle-sidemenu-l {
        top: 0px; }
    aside.left-sidebar #toggle-sidemenu-l {
      position: relative;
      top: -20px; }
      aside.left-sidebar #toggle-sidemenu-l:hover {
        -webkit-transform: none;
                transform: none; } }
a.btn, a.fileuploader-input-button {
  line-height: 22px; }

.btn, .fileuploader-input-button {
  border: none;
  border-radius: 2px;
  color: white;
  height: 30px;
  line-height: 9px;
  padding: 5px 20px;
  font-size: 13px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all; }
  .btn.margin, .margin.fileuploader-input-button {
    margin-right: 10px; }
  .btn .fa, .fileuploader-input-button .fa {
    padding-right: 7px; }
  .btn:focus, .fileuploader-input-button:focus {
    color: white !important; }
  .btn.btn-info, .btn-info.fileuploader-input-button {
    background: #4675cd;
    background-image: none; }
    .btn.btn-info:hover, .btn-info.fileuploader-input-button:hover {
      background: #3d66b3; }
  .btn.btn-danger, .btn-danger.fileuploader-input-button {
    background: #a92c2c;
    background-image: none; }
    .btn.btn-danger:hover, .btn-danger.fileuploader-input-button:hover {
      background: #992828; }
  .btn.btn-warning, .btn-warning.fileuploader-input-button {
    background: #e9a828;
    background-image: none;
    text-shadow: none; }
    .btn.btn-warning:hover, .btn-warning.fileuploader-input-button:hover {
      background: #da9d25; }
  .btn.btn-success, .btn-success.fileuploader-input-button {
    background: #5ea557;
    background-image: none;
    text-shadow: none; }
    .btn.btn-success:hover, .btn-success.fileuploader-input-button:hover {
      background: #599b51; }
  .btn.btn-default, .btn-default.fileuploader-input-button {
    background: #595959;
    background-image: none;
    text-shadow: none; }
    .btn.btn-default:hover, .btn-default.fileuploader-input-button:hover {
      background: #444444;
      color: white; }
  .btn.btn-primary, .btn-primary.fileuploader-input-button {
    background: #070932;
    background-image: none;
    text-shadow: none; }
    .btn.btn-primary:hover, .btn-primary.fileuploader-input-button:hover {
      background: #050623;
      color: white; }
  .btn.disabled, .disabled.fileuploader-input-button {
    background: #adadad;
    background-image: none;
    color: #c1c1c1;
    text-shadow: none; }

.zd-form, input:not([type="radio"]), .fileuploader-input-caption, textarea, select {
  border: 1px solid #cacaca;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0px 3px;
  width: 100%; }

.input-group-addon {
  border-color: #ececec; }

input:not([type="radio"]), .fileuploader-input-caption {
  height: 30px;
  font-size: 14px;
  position: relative;
  border-radius: 1px;
  border-color: #ececec !important; }
  input:not([type="radio"])::-webkit-input-placeholder, .fileuploader-input-caption::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaaaaa;
    font-style: italic; }
  input:not([type="radio"])::-moz-placeholder, .fileuploader-input-caption::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaaaaa;
    font-style: italic; }
  input:not([type="radio"]):-ms-input-placeholder, .fileuploader-input-caption:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaaaaa;
    font-style: italic; }
  input:not([type="radio"]):-moz-placeholder, .fileuploader-input-caption:-moz-placeholder {
    /* Firefox 18- */
    color: #aaaaaa;
    font-style: italic; }

label {
  margin-bottom: 0; }

.datepicker-btn {
  color: white;
  background: #595959;
  border: none;
  padding: 8px;
  margin-top: 1px;
  position: absolute;
  z-index: 2;
  right: 15px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  top: 0; }

select {
  height: 30px;
  background-color: #ffffff;
  border-radius: 1px !important; }

.fileuploader {
  background: none;
  padding: 0; }

.fileuploader-input-caption span {
  color: #aaaaaa;
  font-style: italic;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 0; }

.fileuploader-input-button {
  background: #595959;
  background-image: none;
  text-shadow: none; }
  .fileuploader-input-button:hover {
    background: #444444;
    color: white; }
  .fileuploader-input-button span {
    line-height: 19px; }
    .fileuploader-input-button span .fa {
      padding-right: 7px; }

.uploader-helper {
  bottom: 10px;
  position: relative;
  right: 20px;
  cursor: pointer; }
  .uploader-helper #upHelper .modal-dialog {
    width: 500px; }

.import-send-btn {
  margin-top: 10px;
  position: relative;
  top: -26px; }

.fileuploader-item {
  background: #c1c1c1;
  padding: 10px 15px;
  margin-bottom: 7px; }
  .fileuploader-item:last-child {
    margin-bottom: 10px; }
  .fileuploader-item .columns {
    padding-left: 10px; }
    .fileuploader-item .columns .column-thumbnail {
      left: 10px;
      top: -2px; }
    .fileuploader-item .columns .column-actions .fileuploader-action {
      width: 15px;
      height: 15px; }
      .fileuploader-item .columns .column-actions .fileuploader-action.fileuploader-action-remove {
        background: #a92c2c;
        border-color: #993333; }
        .fileuploader-item .columns .column-actions .fileuploader-action.fileuploader-action-remove:hover {
          background: #993333; }
      .fileuploader-item .columns .column-actions .fileuploader-action i::before, .fileuploader-item .columns .column-actions .fileuploader-action i::after {
        content: '';
        background-color: #ffffff;
        height: 7px;
        left: 6px;
        position: absolute;
        top: 3px;
        width: 1.5px; }

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  counter-reset: step;
  margin: 2em;
  position: relative; }
  .step:before, .step:after {
    content: '';
    position: absolute;
    top: 1.05em;
    bottom: 0.5em;
    left: 0;
    right: 0;
    background: #adadad; }
  .step:after {
    background: #4a8144;
    -webkit-transition: right 0.5s;
    transition: right 0.5s; }
  .step[data-step="0"]:after {
    right: 100%; }
  .step[data-step="1"]:after {
    right: 50%; }
  .step input {
    display: none; }
  .step p {
    color: #aaa;
    counter-increment: step;
    cursor: pointer;
    height: 2em;
    margin: 0;
    position: relative;
    z-index: 2; }
    .step p:first-of-type {
      background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, transparent));
      background: linear-gradient(to right, #fff 50%, transparent 50%); }
    .step p:last-of-type {
      background: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #fff));
      background: linear-gradient(to right, transparent 50%, #fff 50%); }
    .step p:before {
      content: counter(step);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto 0.5em;
      height: 2.5em;
      width: 2.5em;
      border-radius: 2em;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 4px solid #adadad;
      background: white; }
  .step .forward p:before {
    -webkit-transition: background 0 0.5s, color 0 0.5s;
    transition: background 0 0.5s, color 0 0.5s; }
  .step[data-step="0"] p:nth-child(1), .step[data-step="1"] p:nth-child(2), .step[data-step="2"] p:nth-child(3) {
    color: #444444; }
  .step[data-step="1"] p:nth-child(1)::before, .step[data-step="2"] p:nth-child(1)::before, .step[data-step="2"] p:nth-child(2)::before {
    content: '✔︎'; }
  .step[data-step="0"] p:nth-child(1)::before, .step[data-step="1"] p:nth-child(2)::before, .step[data-step="2"] p:nth-child(3)::before, .step[data-step="1"] p:nth-child(1)::before, .step[data-step="2"] p:nth-child(1)::before, .step[data-step="2"] p:nth-child(2)::before {
    border-color: #4a8144;
    color: #5ea557; }

.table {
  font-size: 12.5px;
  text-align: center; }
  .table .smaller {
    font-size: 0.95em; }
  .table .zd-label-action {
    color: white;
    background: #adadad;
    text-transform: capitalize; }
    .table .zd-label-action:hover {
      background: #3d66b3; }
  .table .btn-info-white {
    background: white;
    border: none;
    color: #4675cd;
    height: auto;
    text-align: center; }
    .table .btn-info-white .fa {
      display: block;
      padding: 0; }
    .table .btn-info-white:hover {
      background: #ececec;
      color: #3d66b3; }
  .table .progress {
    border-radius: 2px;
    display: inline-block;
    height: 10px;
    margin-bottom: 0;
    overflow: unset;
    vertical-align: text-top;
    width: 100%;
    position: relative; }
    .table .progress span {
      position: relative;
      color: black;
      display: inline-block;
      font-size: 12px;
      bottom: 0px;
      width: 100%; }
    .table .progress .progress-bar {
      background-image: none;
      background: #5ea557; }
  .table thead tr {
    background: #080b3b;
    color: white; }
    .table thead tr th {
      border: 1px solid #0f1369;
      border-top: none;
      text-align: center; }
      .table thead tr th:first-child {
        text-align: left; }
  .table tbody tr td {
    border: 1px solid #ececec;
    padding: 15px 10px;
    vertical-align: middle; }

.pagination li a {
  color: #4675cd;
  border: 1px solid #ececec; }
.pagination li.active a {
  color: white;
  background: #4675cd;
  border-color: #385ea6; }
  .pagination li.active a:hover, .pagination li.active a:active, .pagination li.active a:focus {
    background: #3d66b3; }

/* Constants */
.no-left-padding {
  padding-left: 0 !important; }

.no-right-padding {
  padding-right: 0 !important; }

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.overflow-hidden {
  overflow: hidden; }

.overflow-hidden-x {
  overflow-x: hidden; }

.overflow-hidden-y {
  overflow-y: hidden; }

/*# sourceMappingURL=zd-style.css.map */