<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS -->
  <meta charset="UTF-8">
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="../static/css/bootstrap-compilation.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/zd-style.css">
  <title>ZINA Dogi - The battle dress for ZINA projects</title>
</head>
<body>
  <section class="content">
    <!-- HEADER SECTION -->
    <header class="navbar zdheader">
      
      <ul class ="nav navbar-nav">
      <li><a class="zdheader-logo" href="#"><img class="logo-right" src="../static/img/ZINAdogi.png"></a></li>
      </ul>
      <article class="col-md-2 pull-right zdsearchbar">
          <form role="search">
            <span class="fa fa-search pull-right"></span>
            <div class="form-group">
              <input class="form-control zdsearchinput" type="text" placeholder="Search...">
            </div>
          </form>
      </article>
    </header>
    <!-- SIDEBAR EXPANDED LOGO -->
    <aside class="left-sidebar">
      <div class="sidebar-branding"><a href="#"><img class="logo-left" src="../static/img/ZINAdogi.png"></a></div>
      <span id="toggle-sidemenu-l" class="fa fa-bars"></span>
      <!-- SIDEBAR MENU -->
      <div class="panel-group zdsidebar" id="accordion">
        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <div class="panel-heading" data-toggle="tooltip" data-placement="right" title="Item1">
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-mouse-pointer item-icon"></i><span class="item-title">Item 1</span><span class="caret"></span>
              </div>
            </div>
          </a>
          <div id="collapse1" class="panel-collapse collapse">
            <ul class="panel-body"> <!-- MENU ITEM BODY LIST -->
              <li><a href="">Item1</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <div class="panel-heading" data-toggle="tooltip" data-placement="right" title="Item2">
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-paint-brush item-icon"></i><span class="item-title">Item 1</span><span class="caret"></span>
              </div>
            </div>
          </a>
          <div id="collapse2" class="panel-collapse collapse">
            <ul class="panel-body"> <!-- MENU ITEM BODY LIST -->
              <li><a href="">Item1</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <div class="panel-heading" data-toggle="tooltip" data-placement="right" title="Item3">
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-scissors item-icon"></i><span class="item-title">Item 1</span><span class="caret"></span>
              </div>
            </div>
          </a>
          <div id="collapse3" class="panel-collapse collapse">
            <ul class="panel-body"> <!-- MENU ITEM BODY LIST -->
              <li><a href="">Item1</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <!-- MAIN CONTENT SECTION -->
    <section class="the-content">
      <!-- APPLICATIONS' MAGICAL VIEWS GO HERE -->
      <div class="tile-box">
        <hgroup>
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>
        </hgroup>
      </div>
      <div class="tile-box">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque necessitatibus dolorum reiciendis rerum dolores quod suscipit, assumenda corporis animi placeat. Explicabo harum, blanditiis voluptas quibusdam voluptatibus magni! Commodi, itaque, quasi.</span>
        <span>Rem voluptatibus, dolore nesciunt quisquam explicabo in non suscipit dolores hic quis soluta recusandae modi sunt maxime necessitatibus sit magni cum, rerum quasi tempore obcaecati quo fuga optio similique. Esse.</span>
        <span>Officiis numquam, rem facilis asperiores nesciunt tempora labore itaque sunt impedit cumque laboriosam, nam sit qui assumenda earum deserunt accusantium doloribus. Recusandae quod laudantium corporis itaque omnis cum a tempora.</span>
        <span>Quisquam laudantium, nostrum deleniti, error non sit architecto esse ipsam maxime. A eos eligendi accusantium est in rem, repellat iure, aperiam perferendis. Nisi eaque, culpa, soluta magnam officiis ut. Vitae?</span>
        <span>Pariatur blanditiis, iste omnis fugit. Laborum corrupti commodi, eius, ut amet consequuntur! Fugit possimus ullam earum est itaque ducimus ex culpa, voluptatem expedita nulla iusto velit, corrupti voluptatum, tempore, quod!</span></p>
      </div>

    </section>
    <!-- FOOTER SECTION -->
  </section>
  <footer class="zdfooter">
    <div>
      <div class="row">
        <div class="col-sm-10">
          <ul class="list-inline">
            <li>&copy; Nokia 2017</li>
            <li> | </li>
            <li><a href="#">About us</a></li>
          </ul>
        </div>
        <div class="col-sm-2 text-right">
          <img class="zdfooter-logo" src="../static/img/nokiaLogo.png" title="NOKIA NETWORKS">
        </div>
      </div>
    </div>
  </footer>
  <!-- SCRIPTS SECTION -->
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/zdogi.js"></script>
</body>
</html>