<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS -->
  <meta charset="UTF-8">
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="../static/css/bootstrap-compilation.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/zd-style.css">
  <title>ZINA Dogi - The battle dress for ZINA projects</title>
</head>
<body>
  <section class="content">
    <!-- HEADER SECTION -->
    <header class="navbar zdheader">
      
      <ul class ="nav navbar-nav">
      <li><a class="zdheader-logo" href="#"><img class="logo-right" src="../static/img/ZINAdogi.png"></a></li>
      </ul>
      <article class="col-md-2 pull-right zdsearchbar">
          <form role="search">
            <span class="fa fa-search pull-right"></span>
            <div class="form-group">
              <input class="form-control zdsearchinput" type="text" placeholder="Search...">
            </div>
          </form>
      </article>
    </header>
    <!-- SIDEBAR EXPANDED LOGO -->
    <aside class="left-sidebar">
      <div class="sidebar-branding"><a href="#"><img class="logo-left" src="../static/img/ZINAdogi.png"></a></div>
      <span id="toggle-sidemenu-l" class="fa fa-bars"></span>
      <!-- SIDEBAR MENU -->
      <div class="panel-group zdsidebar" id="accordion">
        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <div class="panel-heading" data-toggle="tooltip" data-placement="right" title="Item1">
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-mouse-pointer item-icon"></i><span class="item-title">Item 1</span><span class="caret"></span>
              </div>
            </div>
          </a>
          <div id="collapse1" class="panel-collapse collapse">
            <ul class="panel-body"> <!-- MENU ITEM BODY LIST -->
              <li><a href="">Item1</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <div class="panel-heading" data-toggle="tooltip" data-placement="right" title="Item2">
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-paint-brush item-icon"></i><span class="item-title">Item 1</span><span class="caret"></span>
              </div>
            </div>
          </a>
          <div id="collapse2" class="panel-collapse collapse">
            <ul class="panel-body"> <!-- MENU ITEM BODY LIST -->
              <li><a href="">Item1</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <div class="panel-heading" data-toggle="tooltip" data-placement="right" title="Item3">
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-scissors item-icon"></i><span class="item-title">Item 1</span><span class="caret"></span>
              </div>
            </div>
          </a>
          <div id="collapse3" class="panel-collapse collapse">
            <ul class="panel-body"> <!-- MENU ITEM BODY LIST -->
              <li><a href="">Item1</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <!-- MAIN CONTENT SECTION -->
    <section class="the-content">
      <div class="tile-box">
        <!-- APPLICATIONS' MAGICAL VIEWS GO HERE -->
        <h1>ZINA Dogi 着 - Content test</h1>
        <p>In the following lines we are going to display some tests for the scheme. <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure explicabo repellendus cupiditate eligendi nostrum, animi earum debitis, obcaecati ipsa necessitatibus eum tempore, iste ipsum minus harum laborum placeat officiis, sapiente!</span>
        <span>Doloremque incidunt totam ratione dolorum facere cum, dolores in, architecto fugit dolore minus beatae error enim quaerat id quae. Facilis, harum optio debitis culpa accusamus magnam et placeat consequuntur perferendis!</span>
        <span>Pariatur debitis nostrum, molestiae sint obcaecati vero laudantium, esse tenetur voluptas impedit. Aspernatur rerum ipsam sit cupiditate, deserunt tempora explicabo ea, praesentium maxime a recusandae architecto rem porro sint et!</span>
        <span>Laudantium itaque voluptates nemo dolorum atque culpa sapiente natus sit, tempora velit consequuntur quibusdam reiciendis pariatur eveniet ex harum mollitia magni dolores reprehenderit, vitae fugiat omnis! Laboriosam magni veritatis cupiditate.</span>
        <span>Vel quasi dolores hic ipsam ea ipsa qui non, soluta labore! Temporibus et ullam dignissimos deleniti fuga nobis. Eius facilis ipsam voluptatum nesciunt soluta quaerat assumenda nulla obcaecati id consequatur.</span>
        <span>Quod voluptates ea velit, laudantium, fuga ipsa expedita tenetur, porro distinctio facere facilis beatae aut eum itaque, ratione quo a cum sunt animi! Velit, nulla ipsam omnis commodi, eligendi corporis!</span>
        <span>Amet eveniet quia voluptate autem veritatis animi accusantium illo voluptas labore nihil molestias non ex distinctio soluta mollitia ea, ratione voluptates dolorum id at earum est, quas ipsum, ullam. Repellat.</span>
        <span>Mollitia atque blanditiis, nostrum reprehenderit animi sequi id repellendus adipisci officiis error, totam repellat, tenetur facere. Eligendi sed excepturi, distinctio magnam iste, vero dolorem. Veniam labore a praesentium, esse dolores?</span>
        <span>Quam veritatis dignissimos hic nostrum quisquam earum error! Necessitatibus corporis, architecto ea modi eaque vitae obcaecati debitis, odio et nihil at? Harum aliquid, commodi! Vel libero eius, iure debitis? Deleniti.</span>
        <span>Sit quibusdam ratione eveniet, beatae mollitia officia dolorem quas praesentium nemo quaerat labore dolores eos veniam animi quod laborum vel odit id soluta harum hic rem error quasi porro! Dolor.</span>
        <span>Eligendi maiores, alias eveniet optio nulla veniam quod quidem maxime odio provident, id molestias aut nemo impedit ipsam itaque dolores. Ullam perspiciatis cumque voluptates? Saepe hic modi possimus blanditiis, iure!</span>
        <span>Quam cupiditate natus deleniti labore neque minus dolorum esse accusamus vero quo magnam voluptatem saepe mollitia possimus animi dolor fugiat, eum deserunt quidem, omnis. Incidunt non eos ea vel quibusdam.</span>
        <span>Officia nulla, cum molestias magnam hic nihil adipisci repellat, modi et non saepe facilis, debitis aliquid provident, totam. Illo odio fugiat quaerat deserunt cupiditate deleniti necessitatibus nisi dolore quia quis!</span>
        <span>Iste, iusto. Minima magnam sequi ipsa itaque iure aliquam voluptate quisquam vitae, quia et est necessitatibus deserunt cumque molestiae a id labore dolore atque. Pariatur sint, doloribus reprehenderit cumque ad.</span>
        <span>Id perferendis veniam, adipisci. Libero eveniet, quis totam mollitia. Voluptatibus velit laboriosam magni blanditiis ipsum veniam, ipsam recusandae vitae dignissimos suscipit nihil atque excepturi, aliquid alias. Est modi itaque, ipsa!</span>
        <span>Officia provident non enim corporis temporibus in praesentium ex cumque accusantium molestiae sed id, sunt maiores repudiandae aut impedit deserunt soluta accusamus sint. Voluptatum in, quos quod sunt quis ipsam.</span>
        <span>Quidem doloribus numquam adipisci praesentium, similique itaque consequatur. Vero, accusamus! Esse et dignissimos inventore maxime accusamus vitae tempore quibusdam magni iste minus praesentium dolore error, rerum nulla necessitatibus dolorum quas.</span>
        <span>Id, aut, quod! Repellat in est sint voluptatem dicta, quam. Facilis accusantium laudantium perferendis assumenda corporis, voluptatum voluptate ratione quae qui, deleniti a praesentium vel maxime? Non similique quas delectus!</span>
        <span>Saepe hic facilis in doloremque fugiat. Fuga error explicabo repellat corporis debitis sed voluptate magni, temporibus quod totam, nobis eveniet qui illo cumque at rerum tenetur quibusdam ipsa sapiente magnam.</span>
        <span>Earum veritatis perferendis cum delectus quae ratione soluta ex optio facilis, asperiores debitis et sed voluptatem nisi illo, totam iure voluptatum nemo recusandae accusamus eaque doloribus qui exercitationem. Animi, nostrum.</span>
        <span>Dolore animi hic placeat similique obcaecati at omnis saepe! Ad quasi non totam asperiores velit aspernatur, qui rerum placeat ullam voluptatem minima dolorem quas voluptas reprehenderit! Architecto perferendis, voluptate vero?</span>
        <span>Eveniet modi voluptate inventore. Quam, quos! Facilis dolore, tempora maxime voluptatum distinctio earum quaerat, maiores eos iusto incidunt impedit doloremque possimus. Dicta veritatis molestias repellat vitae voluptatem architecto, deserunt vero!</span>
        <span>Sequi optio, nemo, voluptatem saepe corrupti et iure quam qui nihil rerum? Ut nesciunt necessitatibus quos ipsam, non earum excepturi, eaque dolorum recusandae quis ipsum, ad quas ratione delectus illo.</span>
        <span>Sequi rem eius aperiam, molestias voluptate quia obcaecati fugiat iste delectus, distinctio, excepturi odit maiores debitis repudiandae a reprehenderit dolor. Temporibus harum, consequatur. Enim at, obcaecati quia nesciunt omnis id.</span>
        <span>Ab fugit, tempore cumque reiciendis, quasi similique molestiae nam quas quae perspiciatis iure cupiditate dignissimos voluptatem velit. Sint, reiciendis facilis odio minima, laudantium ratione modi, soluta optio dolores earum sed.</span>
        <span>Nihil ullam aliquid velit omnis, voluptate quis rem. Ab doloremque architecto necessitatibus mollitia delectus odit facilis accusamus recusandae hic cupiditate distinctio magni quaerat saepe minima vero consequatur dolorem, maiores in.</span>
        <span>Totam placeat autem veniam quae sed necessitatibus nobis, ad obcaecati eum, nam ipsam reprehenderit quod officiis laborum aut unde repudiandae incidunt ullam officia dicta harum tempora vitae earum deserunt! Aliquid.</span>
        <span>Distinctio libero eaque, fugiat, aliquid neque excepturi laudantium? Velit, ab esse dolores minima quaerat assumenda doloremque incidunt mollitia? Sequi autem excepturi eaque, ad dolores sit amet libero pariatur ut et.</span>
        <span>Eveniet odit commodi neque ad aut tempore ea autem doloremque voluptate iste earum ipsa quisquam consequatur dolor iure dolorem nemo praesentium, quas itaque explicabo nobis similique animi. Est, debitis ex.</span>
        <span>Ipsam, magni. Laboriosam neque, praesentium quo sapiente magnam possimus, quibusdam id nemo voluptate eius, ut, nihil unde distinctio facere similique laudantium exercitationem eos quam recusandae aspernatur iusto cumque. Sequi, qui.</span>
        <span>Sint vitae aspernatur porro est eligendi provident debitis et voluptate magni commodi, illum consectetur dolorum velit ea iste corrupti atque, facilis tempore, labore obcaecati itaque illo tenetur consequuntur! Porro, exercitationem.</span>
        <span>Enim natus, optio, similique praesentium porro doloremque ea, alias numquam, maxime explicabo repellat. Suscipit dolorum ut velit aliquam impedit. Cupiditate eius placeat excepturi voluptatum a laborum nostrum. Ut, iure voluptates.</span>
        <span>Accusantium quod quisquam fugit, sapiente earum nemo, cum adipisci neque ipsam doloribus quaerat, ipsum quos voluptatum? Ex aspernatur unde, deleniti necessitatibus, nemo quo hic, vitae maxime obcaecati quis adipisci rerum!</span>
        <span>Accusamus, alias. Dolores odio cumque laboriosam similique iste minima, labore dignissimos illo neque sit alias esse. Neque consectetur quasi laudantium ut nam, sit ratione, voluptatibus laboriosam rem adipisci, in quidem?</span>
        <span>Eos quam quae magnam culpa consequatur quas dignissimos ad distinctio animi deleniti. Ea minima, deleniti aperiam non? Unde, eaque, inventore maiores in molestiae earum laudantium incidunt voluptatem impedit error iusto.</span></p>
      </div>
    </section>
    <!-- FOOTER SECTION -->
  </section>
  <footer class="zdfooter">
    <div>
      <div class="row">
        <div class="col-sm-10">
          <ul class="list-inline">
            <li>&copy; Nokia 2017</li>
            <li> | </li>
            <li><a href="#">About us</a></li>
          </ul>
        </div>
        <div class="col-sm-2 text-right">
          <img src="../static/img/nokiaLogo.png" title="NOKIA NETWORKS">
        </div>
      </div>
    </div>
  </footer>
  <!-- SCRIPTS SECTION -->
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/zdogi.js"></script>
</body>
</html>