<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS -->
  <meta charset="UTF-8">
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="../static/css/bootstrap-compilation.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/zd-style.css">
  <title>ZINA Dogi - The battle dress for ZINA projects</title>
</head>
<body>
  <section class="content">
    <!-- HEADER SECTION -->
    <header class="navbar zdheader">
      
      <ul class ="nav navbar-nav">
      <li><a class="zdheader-logo" href="#"><img class="logo-right" src="../static/img/ZINAdogi.png"></a></li>
      </ul>
    </header>
    <!-- SIDEBAR EXPANDED LOGO -->
    <aside class="left-sidebar">
      <div class="sidebar-branding"><a href="#"><img class="logo-left" src="../static/img/ZINAdogi.png"></a></div>
      <span id="toggle-sidemenu-l" class="fa fa-bars"></span>
      <!-- SIDEBAR MENU -->
      <div class="panel-group zdsidebar" id="mainmenu-accordion-1">
        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#mainmenu-accordion-1" href="#collapse1">
            <div class="panel-heading"> 
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-home item-icon"></i><span class="item-title">Automatic SPO Creation</span><span class="caret"></span>
                <span class="menuTip out"></span>
              </div>
            </div>
          </a>
          <div id="collapse1" class="panel-collapse collapse outer">
            <div class="panel-group zdsidebar-inner" id="inner-1">
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-1" href="#collinn1">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 1</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn1" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li><a href="google.com">xxx</a></li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-1" href="#collinn2">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 2</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn2" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-1" href="#collinn3">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 3</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn3" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#mainmenu-accordion-1" href="#collapse2">
            <div class="panel-heading"> 
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-home item-icon"></i><span class="item-title">Automatic SPO Creation</span><span class="caret"></span>
                <span class="menuTip out"></span>
              </div>
            </div>
          </a>
          <div id="collapse2" class="panel-collapse collapse outer">
            <div class="panel-group zdsidebar-inner" id="inner-2">
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-2" href="#collinn4">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 4</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn4" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-2" href="#collinn5">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 5</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn5" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-2" href="#collinn6">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 6</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn6" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#mainmenu-accordion-1" href="#collapse3">
            <div class="panel-heading"> 
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-home item-icon"></i><span class="item-title">Automatic SPO Creation</span><span class="caret"></span>
                <span class="menuTip out"></span>
              </div>
            </div>
          </a>
          <div id="collapse3" class="panel-collapse collapse outer">
            <div class="panel-group zdsidebar-inner" id="inner-3">
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-3" href="#collinn7">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 7</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn7" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-3" href="#collinn8">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 8</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn8" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <a class="inner-item-button" data-toggle="collapse" data-parent="#inner-3" href="#collinn9">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <span class="item-title">Item 9</span><span class="caret"></span>
                    </div>
                  </div>
                </a>
                <div id="collinn9" class="panel-collapse collapse inner">
                  <ul class="level-3 panel-body">
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="about">
         <ul class="list-inline">
            <li><span class="copyright"></span></li>
         </ul>
      </div>
      </div> 
    </aside>
    <!-- MAIN CONTENT SECTION -->
    <section class="the-content">
      <!-- APPLICATIONS' MAGICAL VIEWS GO HERE -->
      <div class="row">
        <div class="col-md-12">
          <div class="tile-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae vitae, voluptatum amet eius esse sit praesentium similique tenetur accusamus deserunt, modi dignissimos debitis consequatur facere unde sint quasi quae architecto!</p>
            <button href="" class="btn btn-default">Lola</button>
            <a href="" class="btn btn-default">Lola</a>
          </div>
        </div>
      </div>


    </section>
    <!-- FOOTER SECTION -->
  </section>
  <!-- SCRIPTS SECTION -->
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/zdogi.js"></script>
</body>
</html>