<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS -->
  <meta charset="UTF-8">
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="../static/css/bootstrap-compilation.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/zd-style.css">
  <title>ZINA Dogi - The battle dress for ZINA projects</title>
</head>
<body>
  <section class="content">
    <!-- HEADER SECTION -->
    <header class="navbar zdheader">
      
      <ul class ="nav navbar-nav">
      <li><a class="zdheader-logo" href="#"><img class="logo-right" src="../static/img/ZINAdogi.png"></a></li>
      </ul>
      <article class="col-md-2 pull-right zdsearchbar">
          <form role="search">
            <span class="fa fa-search pull-right"></span>
            <div class="form-group">
              <input class="form-control zdsearchinput" type="text" placeholder="Search...">
            </div>
          </form>
      </article>
    </header>
    <!-- SIDEBAR EXPANDED LOGO -->
    <aside class="left-sidebar">
      <div class="sidebar-branding"><a href="#"><img class="logo-left" src="../static/img/ZINAdogi.png"></a></div>
      <span id="toggle-sidemenu-l" class="fa fa-bars"></span>
      <!-- SIDEBAR MENU -->
      <div class="panel-group zdsidebar" id="accordion">
        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" href="start.html">
            <div class="panel-heading"> 
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-home item-icon"></i><span class="item-title">Home</span>
                <span class="menuTip out"></span>
              </div>
            </div>
          </a>

        </div>

        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <div class="panel-heading">
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-laptop item-icon"></i><span class="item-title">UI Elements</span><span class="caret"></span>
                <span class="menuTip out"></span>
              </div>
            </div>
          </a>
          <div id="collapse2" class="panel-collapse collapse">
            <ul class="panel-body"> <!-- MENU ITEM BODY LIST -->
              <li><a href="messages.html">Messages to user</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default"> <!-- MENU ITEM -->
          <a class="item-button" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <div class="panel-heading">
              <div class="panel-title"> <!-- MENU ITEM FONTICON/TITLE -->
                <i class="fa fa-edit item-icon"></i><span class="item-title">Forms and tables</span><span class="caret"></span>
                <span class="menuTip out"></span>
              </div>
            </div>
          </a>
          <div id="collapse3" class="panel-collapse collapse">
            <ul class="panel-body"> <!-- MENU ITEM BODY LIST -->
              <li><a href="importers.html">Importers and uploaders</a></li>
              <li><a href="">Item2</a></li>
              <li><a href="">Item3</a></li>
              <li><a href="">Item4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <!-- MAIN CONTENT SECTION -->
    <section class="the-content">
      <!-- APPLICATIONS' MAGICAL VIEWS GO HERE -->
      <div class="row">
        <div class="col-md-7">
          <div class="tile-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae vitae, voluptatum amet eius esse sit praesentium similique tenetur accusamus deserunt, modi dignissimos debitis consequatur facere unde sint quasi quae architecto!</p>
            <button href="" class="btn btn-default">Lola</button>
            <a href="" class="btn btn-default">Lola</a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="bs-callout bs-callout-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab consequatur! Voluptas earum provident odit error, molestiae, blanditiis accusamus rerum, ducimus consectetur repellat voluptate dicta suscipit laborum delectus accusantium nisi.</div>
        </div>
      </div>


    </section>
    <!-- FOOTER SECTION -->
  </section>
  <footer class="zdfooter">
    <div>
      <div class="row">
        <div class="col-sm-10">
          <ul class="list-inline copyright">
          </ul>
        </div>
        <div class="col-sm-2 text-right">
          <img class="zdfooter-logo" src="../static/img/nokiaLogo.png" title="NOKIA NETWORKS">
        </div>
      </div>
    </div>
  </footer>
  <!-- SCRIPTS SECTION -->
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/zdogi.js"></script>
</body>
</html>